config SPECIFY_IMGSENSOR
	bool "Specify image sensor name"
	depends on MTK_IMGSENSOR
	help
	  Specify name of each sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config IMGSENSOR_MAIN
	string "Custom main image sensor"
	depends on SPECIFY_IMGSENSOR
	help
	  Specify name of main sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config IMGSENSOR_MAIN2
	string "Custom main2 image sensor"
	depends on SPECIFY_IMGSENSOR
	help
	  Specify name of main2 sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config IMGSENSOR_SUB
	string "Custom sub image sensor"
	depends on SPECIFY_IMGSENSOR
	help
	  Specify name of sub sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config IMGSENSOR_SUB2
	string "Custom sub2 image sensor"
	depends on SPECIFY_IMGSENSOR
	help
	  Specify name of sub2 sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config IMGSENSOR_MAIN3
	string "Custom main3 image sensor"
	depends on SPECIFY_IMGSENSOR
	help
	  Specify name of main3 sensor to prevent obtaining wrong sensor driver
	  with same sensor ID. For example, imx258_mipi_raw and
	  imx258_mipi_mono are of same sensor ID. If not specifying sensor,
	  imx258_mipi_mono may be recognized as imx258_mipi_raw.

config MTK_CAM_SENSOR_PROBE_RETRY
       bool "For sensor probe fail"
       default n
       help
         Add retries for sensor id matching

config  MOT_DEVONN_CAMERA_PROJECT
	tristate "set devonn camera driver"
	help
	  Used to distinguish project-driver code from other projects.

config  MOT_DEVONF_CAMERA_PROJECT
	tristate "set devonf camera driver"
	help
	  Used to distinguish project-driver code from other projects.

config  MOT_CANCUNF_CAMERA_PROJECT
        tristate "set cancun camera driver"
        help
          Used to distinguish project-driver code from other projects.

config  MOT_TAIPEI_CAMERA_PROJECT
        tristate "set taipei camera driver"
        help
          Used to distinguish project-driver code from other projects.

config  MOT_CANCUNN_CAMERA_PROJECT
        tristate "set cancunn camera driver"
        help
          Used to distinguish project-driver code from other projects.

config  MOT_MAUI_CAMERA_PROJECT
        tristate "set maui camera driver"
        help
          Used to distinguish project-driver code from other projects.

config  MOT_VICKY_CAMERA_PROJECT
        tristate "set vicky camera driver"
        help
          Used to distinguish project-driver code from other projects.
