config PINCTRL_MTK_COMMON
	bool "pinctrl mtk common"
	default n
	select PINMUX
	select GENERIC_PINCONF
	select GPIOLIB
	select OF_GPIO

config PINCTRL_MT6735
	bool "pinctrl mt6735"
	default n
	def_bool MACH_MT6735
	select PINCTRL_MTK_COMMON

config PINCTRL_MT6580
	bool "pinctrl mt6580"
	default n
	def_bool MACH_MT6580
	select PINCTRL_MTK_COMMON

config PINCTRL_MT2701
	bool "Mediatek MT2701 pin control" if COMPILE_TEST && !MACH_MT2701
	depends on OF
	default MACH_MT2701
	select PINCTRL_MTK_COMMON
