#
# MediaTek SoC drivers
#
config COMMON_CLK_MEDIATEK
	bool
	---help---
	  Mediatek SoCs' clock support.

config COMMON_CLK_MEDIATEK_NEW
	bool
	select COMMON_CLK_MEDIATEK
	---help---
	  A newer version of Mediatek clock common code support.

config COMMON_CLK_MEDIATEK_V1
	bool
	select COMMON_CLK_MEDIATEK
	---help---
	  An older version (V1) of Mediatek clock common code support.

config COMMON_CLK_MT6739
	bool "Clock driver for Mediatek MT6739"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6739 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6739 clocks.
	  Use the config to support CCF on MT6739,
	  instead of old clkmgr architecture.
	  MT6739 default will use CCF.

config COMMON_CLK_MT6757
	bool "Clock driver for Mediatek MT6757"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_V1
	default y if (MACH_MT6757 || MACH_KIBOPLUS) && !MTK_CLKMGR
	---help---
	  This driver supports Mediatek MT6757 clocks.
	  Use the config to support CCF on MT6757,
	  instead of old clkmgr architecture.
	  MT6757 default will use CCF.

config COMMON_CLK_MT6758
	bool "Clock driver for Mediatek MT6758"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6758 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6758 clocks.
	  Use the config to support CCF on MT6758,
	  instead of old clkmgr architecture.
	  MT6758 default will use CCF.

config COMMON_CLK_MT6759
	bool "Clock driver for Mediatek MT6759"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6759 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6759 clocks.
	  Use the config to support CCF on MT6759,
	  instead of old clkmgr architecture.
	  MT6759 default will use CCF.

config COMMON_CLK_MT6763
	bool "Clock driver for Mediatek MT6763"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6763 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6763 clocks.
	  Use the config to support CCF on MT6763,
	  instead of old clkmgr architecture.
	  MT6763 default will use CCF.

config COMMON_CLK_MT6771
	bool "Clock driver for Mediatek MT6771"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6771 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6771 clocks.
	  Use the config to support CCF on MT6771,
	  instead of old clkmgr architecture.
	  MT6771 default will use CCF.

config COMMON_CLK_MT6775
	bool "Clock driver for Mediatek MT6775"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6775 && !MTK_CLKMGR && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT6775 clocks.
	  Use the config to support CCF on MT6775,
	  instead of old clkmgr architecture.
	  MT6775 default will use CCF.

config COMMON_CLK_MT6799
	bool "Clock driver for Mediatek MT6799"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT6799 && !MTK_CLKMGR
	---help---
	  This driver supports Mediatek MT6799 clocks.
	  Use the config to support CCF on MT6799,
	  instead of old clkmgr architecture.
	  MT6799 default will use CCF.

config COMMON_CLK_MT8167
	bool "Clock driver for Mediatek MT8167"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_NEW
	default y if MACH_MT8167 && !FPGA_EARLY_PORTING
	---help---
	  This driver supports Mediatek MT8167 clocks,
	  which descripts the whole clock hierarchy about
	  IC; It will be used to enable IC-special driver
	  part of CCF framework on MT8167 platform.
