#
# MediaTek SoC drivers
#
config COMMON_CLK_MEDIATEK
	bool
	---help---
	  Mediatek SoCs' clock support.

config COMMON_CLK_MEDIATEK_V1
	bool
	select COMMON_CLK_MEDIATEK
	---help---
	  An older version (V1) of Mediatek clock common code support.

config COMMON_CLK_MT6757
	bool "Clock driver for Mediatek MT6757"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK_V1
	default y if (MACH_MT6757 || MACH_KIBOPLUS) && !MTK_CLKMGR
	---help---
	  This driver supports Mediatek MT6757 clocks.
	  Use the config to support CCF on MT6757,
	  instead of old clkmgr architecture.
	  MT6757 default will use CCF.
