#tuwenzan@wind-mobi.com modify at 20161108 begin
config MTK_MN66238TKDN
	bool "MTK_MN66238TKDN for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor MTK_MN66238TKDN.
#tuwenzan@wind-mobi.com modify at 20161108 end
