#
# Secure Memory configuration
#
config MTK_LEGACY_SECMEM_SUPPORT
	tristate "MTK Legacy SECURE Memory Support"
	depends on TRUSTONIC_TEE_SUPPORT || CONFIG_MTK_TEE_GP_SUPPORT
	default y if !(MACH_MT6771 || MACH_MT6765 || MACH_MT6761)
	help
	  Enable the support of MediaTek legacy secure memory driver.
	  This driver is in charge of secure memory region require/release
	  from SSMR and also the memory allocation/free requests from ION.
	  It is a proxy of TEE secure memory driver for secure memory management.
	  Say Y if you would like to enable this feature.
	  If unsure, say N.

config MTK_SVP_DISABLE_SODI
	tristate "Disable SODI while SVP playback"
	depends on TRUSTONIC_TEE_SUPPORT
	default n
	help
	  System will enter screen on device idle (SODI) while secure
	  video playback (SVP) playback in some specific project/platform,
	  and this will cause video playback hang issues. (depending on
	  Trustonic TEE Support or Microtrust TEE Support or other 3rd-party TEE)
