menu "MTK load balance and schedule enhancement"
config MTK_SCHED_TRACE
	bool "mtk scheduling trace, output mtk schedule trace into FTRACE"
	default y
	help
	  MTK scheduling trace, output schedule trace into FTRACE
	  the ftrace api for scheduling is mt_sched_printf and
	  used for scheduling module to output info to ftrace
	  Say Y to enable mtk scheduling trace

config MTK_SCHED_DEBUG
	bool "mtk scheduling log, also output the scheduling log into Kernel log"
	depends on MTK_SCHED_TRACE
	default n
	help
	  MTK scheduling log, add scheduling log into Kernel log.
	  Including print scheduler debug information at KE and print load balance
	  information at kernel log.
	  Say no if not sure.

config MTK_RT_THROTTLE_MON
	bool "mtk rt throttle monitor"
	default n
	help
	  MTK_RT_THROTTLE_MON is used to monitor rt throttle.
	  When rt throttle activated print 5 longest execusion time rt tasks.
	  Say Y here to enable rt throttle monitor.
	  If you are not sure about whether to enable it or not, please set n.
endmenu
