
config MTK_MMC3524X
	bool "MMC3524X for MediaTek package"
	default n
	help
	  It support different magnetometer sensor.
          If this option is set,
	  it will support
          mmc3524x magnetometer.
