config MTK_GPIO
	tristate "MediaTek GPIO driver"
	default y
	---help---
	  This selects the MediaTek(R) GPIO driver.
	  If you want to use MediaTek(R) SPI interface, say Y or M here.
	  If unsure, say N.
	  This selects the MediaTek(R) GPIO driver.
	  If you want to use MediaTek(R) SPI interface, say Y or M here.
	  If unsure, say N.

config MTK_MT6306_SUPPORT
	tristate "MediaTek MT6306 GPIO Controller support"
	default n

config MTK_GPIO_ON_SMC
	bool "MediaTek GPIO HW access on SMC"
	default n
	---help---
	  This selects GPIO HW access via Secure Monitor Call.
	  If you want to secure GPIO in secure world, say Y here.
	  If unsure, say N.
