menu "Mediatek Peripherals "

source "drivers/misc/mediatek/ice_debug/Kconfig"

menu "Sensors"

config MTK_SENSOR_SUPPORT
	bool "MTK SENSOR SUPPORT"
	help
	  Sensor config for sensor feature in project.
	  Please say Y here if you want to support and sensors
	  with mediatek sensor architecture.
	  If unsure, say N.

source "drivers/misc/mediatek/alsps/Kconfig"
endmenu  # Sensors
endmenu

