menuconfig MEDIATEK_SOLUTION
	bool "MediaTek Properitary Configuration"
	help
	  Check this to enable MediaTek properity configuration.

if MEDIATEK_SOLUTION

config MTK_PLATFORM
	string "MTK platform name"

config ARCH_MTK_PROJECT
	string "MTK project name"

endif

source "drivers/misc/mediatek/uart/Kconfig"
source "drivers/misc/mediatek/irq/Kconfig"
source "drivers/misc/mediatek/m4u/Kconfig"
