config MTK_AUXADC
    tristate "MediaTek AUXADC driver"
    default y
    help
      AUXADC driver support for MediaTek SOC
      If you want to use MediaTek AUXADC driver, say Y or M here.If unsure, say N.

config AUXADC_NEED_POWER_ON
    tristate "Support MediaTek IC that need to enable power for AUXADC"
    depends on MTK_AUXADC
    help
      AUXADC driver support for MediaTek IC which need to enbale power.
      If you want to use MediaTek AUXADC driver to enable power for these IC, say Y or M here.If unsure, say N.