
config LCT_LTR778_NEW 
	bool "LTR778 for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor LTR778.
