CONFIG_ARCH_MOTO_PROJECT="cofud"

CONFIG_AF_NOISE_ELIMINATION=y
CONFIG_I2C_CHARDEV=y

# CONFIG_DEBUG_PAGEALLOC is not set
# CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT is not set
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_PAGE_OWNER is not set
# CONFIG_DM_DEBUG is not set


# CONFIG_CGROUP_DEBUG is not set
# CONFIG_MTK_NET_LOGGING is not set
# CONFIG_MTK_PREEMPT_TRACER is not set

# CONFIG_EXT4_DEBUG is not set
# CONFIG_DEBUG_SECTION_MISMATCH is not set

# CONFIG_DEBUG_KMEMLEAK is not set
# CONFIG_DEBUG_VIRTUAL is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_DEBUG_LOCKDEP is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
