#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_DEBUG_FS=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_PAGE_OWNER=y

CONFIG_MTK_FTRACE_DEFAULT_ENABLE=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_RCU_CPU_STALL_TIMEOUT=15
CONFIG_RCU_TRACE=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_PANIC_TIMEOUT=5
CONFIG_PAGE_OWNER=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=6400
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_EXT4_DEBUG=y
CONFIG_DM_DEBUG=y
CONFIG_MTK_SCHED_MONITOR=y
CONFIG_MTK_WQ_DEBUG=y
CONFIG_MTK_IRQ_COUNT_TRACER=y
CONFIG_MTK_IRQ_OFF_TRACER=y
CONFIG_MTK_PREEMPT_TRACER=y
CONFIG_MTK_RT_THROTTLE_MON=y
CONFIG_MTK_NET_LOGGING=y
CONFIG_CGROUP_DEBUG=y

# CONFIG_CGROUP_DEBUG is not set
# CONFIG_MTK_NET_LOGGING is not set
# CONFIG_MTK_PREEMPT_TRACER is not set
# CONFIG_DM_DEBUG is not set
# CONFIG_EXT4_DEBUG is not set
# CONFIG_DEBUG_SECTION_MISMATCH is not set
# CONFIG_DEBUG_PAGEALLOC is not set
# CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT is not set
# CONFIG_DEBUG_KMEMLEAK is not set
# CONFIG_DEBUG_VIRTUAL is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_DEBUG_LOCKDEP is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set

# CONFIG_MTK_FTRACE_DEFAULT_ENABLE  is not set
# CONFIG_MTK_APUSYS_SUPPORT  is not set
# CONFIG_MTK_APUSYS_DEBUG  is not set
# CONFIG_MTK_APUSYS_RT_SUPPORT  is not set
# CONFIG_MTK_APUSYS_VPU  is not set
# CONFIG_MTK_APUSYS_VPU_DEBUG  is not set
# CONFIG_THERMAL_CP_SUPPORT  is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR  is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR  is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR  is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR  is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR  is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR   is not set
# CONFIG_MTK_PROT_MEM_SUPPORT   is not set
# CONFIG_MTK_DRAMC_WA   is not set
# CONFIG_MTK_FLASHLIGHT_PT  is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT  is not set
# CONFIG_MTK_FLASHLIGHT_DLPT  is not set
# CONFIG_MTK_SIB_USB_SWITCH  is not set
# CONFIG_USB_MU3D_DEFAULT_U2_MODE  is not set
# CONFIG_MTK_SKB_OWNER  is not set
# CONFIG_MTK_IRQ_COUNT_TRACER  is not set
# CONFIG_MTK_IRQ_OFF_TRACER  is not set
# CONFIG_MTK_GPU_OPP_STATS_SUPPORT  is not set
# CONFIG_MTK_VPU_SUPPORT_DEBUG  is not set
# CONFIG_SND_COMPRESS_OFFLOAD  is not set
# CONFIG_SND_SOC_COMPRESS  is not set
# CONFIG_MTK_RPMSG_MBOX  is not set
# CONFIG_EXTCON_MTK_USB  is not set
# CONFIG_PHY_MTK_USB  is not set
# CONFIG_PAGE_OWNER  is not set
# CONFIG_PAGE_EXTENSION  is not set
# CONFIG_SCHED_STACK_END_CHECK  is not set
# CONFIG_PROVE_LOCKING  is not set
# CONFIG_LOCKDEP  is not set
# CONFIG_PROVE_RCU  is not set
# CONFIG_RCU_TRACE  is not set
# CONFIG_PREEMPT_TRACER  is not set
# CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP  is not set
# CONFIG_BUG_ON_DATA_CORRUPTION  is not set
# CONFIG_STACKDEPOT  is not set

