#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
#add for svp
CONFIG_TRUSTONIC_TEE_SUPPORT=m
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_taipei_s5kjns_mipi_raw mot_taipei_hi1634q_mipi_raw mot_taipei_s5k3p9sp04_mipi_raw mot_taipei_s5k4h7_mipi_raw"
CONFIG_HQ_CAMERA_LDO=m
CONFIG_MTK_FLASHLIGHT_CANCUNF=m

CONFIG_MTK_CLKBUF_NFC=y


#Moto taipei Camera
CONFIG_MOT_TAIPEI_CAMERA_PROJECT=y

#add for i2c tool
CONFIG_I2C_CHARDEV=y

#Add swtp customization
CONFIG_MOTO_CANCUNF_SWTP_CUST=y

CONFIG_MOTO_THERMAL_CHARGER_STATE_NUM=13
