#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_kansas_s5kjns_mipi_raw mot_kansas_sc202acs_mipi_raw mot_kansas_s5k3p9_mipi_raw"
CONFIG_MTK_FLASHLIGHT_AW36515=m
