#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_DEBUG_FS=y
# CONFIG_CGROUP_DEBUG is not set
# CONFIG_MTK_NET_LOGGING is not set
# CONFIG_MTK_PREEMPT_TRACER is not set
# CONFIG_DM_DEBUG is not set
# CONFIG_EXT4_DEBUG is not set
# CONFIG_DEBUG_SECTION_MISMATCH is not set
# CONFIG_DEBUG_PAGEALLOC is not set
# CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT is not set
# CONFIG_DEBUG_KMEMLEAK is not set
# CONFIG_DEBUG_VIRTUAL is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_DEBUG_LOCKDEP is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
# CONFIG_MTK_FTRACE_DEFAULT_ENABLE is not set
# CONFIG_THERMAL_CP_SUPPORT is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
# CONFIG_MTK_PROT_MEM_SUPPORT is not set
# CONFIG_MTK_DRAMC_WA is not set
# CONFIG_MTK_FLASHLIGHT_PT is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT is not set
# CONFIG_MTK_FLASHLIGHT_DLPT is not set
# CONFIG_MTK_SKB_OWNER is not set
# CONFIG_MTK_IRQ_COUNT_TRACER is not set
# CONFIG_MTK_IRQ_OFF_TRACER is not set
# CONFIG_SND_COMPRESS_OFFLOAD is not set
# CONFIG_SND_SOC_COMPRESS is not set
# CONFIG_MTK_RPMSG_MBOX is not set
# CONFIG_PAGE_OWNER is not set
# CONFIG_PAGE_EXTENSION is not set
# CONFIG_SCHED_STACK_END_CHECK is not set
# CONFIG_PROVE_LOCKING is not set
# CONFIG_LOCKDEP is not set
# CONFIG_PROVE_RCU is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_PREEMPT_TRACER is not set
# CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP is not set
# CONFIG_STACKDEPOT is not set
# CONFIG_SCHED_STACK_END_CHECK is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_PROVE_LOCKING is not set
# CONFIG_BUG_ON_DATA_CORRUPTION is not set
# CONFIG_MTK_WQ_DEBUG is not set
# CONFIG_MTK_SCHED_MONITOR is not set
# CONFIG_MTK_RT_THROTTLE_MON is not set
# CONFIG_I2C_CHARDEV is not set

