#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# Enable fscrypt V2 wrapped key mode.
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y

# Enable DRDI feature
CONFIG_MOTO_DRDI_SUPPORT=y

# Enable MOTO SECURITY CCCI DATA feature
CONFIG_MOTO_CCCI_SEC_SUPPORT=y

# Set modem to Lf/Lt/W/G mode
CONFIG_MTK_MD1_SUPPORT=9

#
# Vicky camera bringup added related changes into mgk_64_k510_defconfig unexpectedly
# and removed CONFIG_MTK_VIDEO_LM3643 from mgk_64_k510_defconfig directly.
# Since we should NOT do any changes in MTK mgk_64_k510_defconfig, so we override
# the CONFIG_MTK_VIDEO_LM3643 here and revert mgk_64_k510_defconfig to MTK default.
#
# CONFIG_MTK_VIDEO_LM3643 is not set

# Enable erofs PCPU to enhance performance
CONFIG_EROFS_FS_PCPU_KTHREAD=y
CONFIG_EROFS_FS_PCPU_KTHREAD_HIPRI=y
