
CONFIG_LCM_HEIGHT="2400"
CONFIG_LCM_WIDTH="1080"
# CONFIG_LEDS_MTK_PWM is not set
CONFIG_LEDS_MTK_DISP=y
# CONFIG_DRM_PANEL_NT35695B_AUO_VDO is not set
# CONFIG_DRM_PANEL_NT36672A_RT4801_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
CONFIG_DRM_PANEL_VISIONOX_RM692DX_VDO=y
# CONFIG_MTK_AAL_SUPPORT is not set
# CONFIG_TOUCHSCREEN_MTK is not set
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_MT6360_PMU_RGBLED=y
CONFIG_NXP_NFC_ESE_DEVICE=y
CONFIG_NXP_NFC_PN8XT=y
# CONFIG_SND_SOC_MT6660 is not set
CONFIG_SND_SMARTPA_AW882XX=y
# CONFIG_MTK_AURISYS_PHONE_CALL_SUPPORT is not set
CONFIG_ZRAM_WRITEBACK=y
CONFIG_MTK_AUDIODSP_SUPPORT=y
CONFIG_SND_SOC_MTK_AUDIO_DSP=y
CONFIG_MTK_VOW_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_ARCH_MOTO_PROJECT="kyoto"
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_s5khm2_mipi_raw mot_s5khm2qtech_mipi_raw mot_ov32b40_mipi_raw mot_ov02b1b_mipi_raw mot_s5k4h7_mipi_raw"
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_CAMGEST_PARAMS=y
CONFIG_MOTO_CHOPCHOP_PARAMS=y
CONFIG_MOTO_GLANCE_PARAMS=y
CONFIG_MOTO_LTV_PARAMS=y
CONFIG_MOTO_ALSPS_PARAMS=y
CONFIG_THERMAL_CP_SUPPORT=y
CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT=y
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
CONFIG_MTK_TYPEC_WATER_DETECT=y
CONFIG_USB_CONFIGFS_NCM=y

