#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
# Enable Trustonic TEE solution.
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_TRUSTONIC_TEE_SUPPORT=y
CONFIG_MOTO_CHG_TCMD_SUPPORT=y
CONFIG_MOTO_CHG_TCMD_SUPPORT=y
CONFIG_MOTO_ALGO=y
CONFIG_MOTO_STOWED=y
CONFIG_MOTO_FLATUP=y
CONFIG_MOTO_FLATDOWN=y
CONFIG_MOTO_CAMGEST=y
CONFIG_MOTO_CHOPCHOP=y
CONFIG_MOTO_GLANCE=y
CONFIG_MOTO_LTV=y
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_FTM=y
# CONFIG_MOTO_OFFBODY is not set
CONFIG_MOTO_LTS=y
CONFIG_MOTO_ALSPS=y
# Config modem to GWL mode
CONFIG_MTK_MD1_SUPPORT=9
