#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_CUSTOM_KERNEL_LCM="icnl9911c_hdp_vdo_incell_lide"
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_CHIPONE=y
# CONFIG_DRM_PANEL_NT35695B_AUO_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
CONFIG_DRM_PANEL_LIDE_ICNL9911C_VDO=y #EKSAIPAN-15,lilianxu.wt,ADD,20210107,LCD bringup
CONFIG_SND_SMARTPA_AW881XX=y
