#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# disable unused panel configs
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672C_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO_NO_DSC is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO_WO_DSC_60HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO_WO_DSC_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_6382 is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD_120HZ is not set
# CONFIG_DRM_PANEL_L12A_42_02_0A_DSC_CMD is not set
# CONFIG_DRM_PANEL_NT37801_CMD_120HZ is not set
# CONFIG_DRM_PANEL_NT37801_CMD_FHD is not set
# CONFIG_DRM_PANEL_NT37801_CMD_LTPO is not set
# CONFIG_DRM_PANEL_NT37801_CMD_SPR is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD_FHDP is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_DRM_PANEL_SAMSUNG_S68FC01_VDO_AOD is not set
# CONFIG_DRM_PANEL_SC_NT36672C_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ_WA is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_DRM_PANEL_TRULY_NT35595_CMD is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_CMD is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set

CONFIG_DRM_PANEL_TM_NT36528_667_HDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_BOE_FT8057S_667_720_1604_DPHY_120HZ=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_CHARGER_SC89890H=m
CONFIG_CHARGER_SGM41542=m
CONFIG_CHARGER_PUMP_NU2115A=m
#disable MTK default touch drives
CONFIG_TOUCHSCREEN_MTK_TOUCH=""

CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_kansas_s5kjns_mipi_raw mot_kansas_sc202acs_mipi_raw mot_kansas_s5k3p9_mipi_raw"
# CONFIG_MTK_ULTRASND_PROXIMITY is not set

CONFIG_MOTO_CHG_TCMD_SUPPORT=m
CONFIG_SND_SOC_TFA9894=m
CONFIG_SND_SOC_AW883XX=m
# CONFIG_SND_SOC_TFA9874 is not set
CONFIG_SND_SOC_KANSAS_AUDIO=y

# Motorola V2 File Based Encryption Driver Support.
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y


# Add swtp customization
CONFIG_MOTO_SWTP_CUST=y
