#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_LEDS_AW99703=y
CONFIG_LEDS_LM3697=y
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_MTK_ILI7807=y
CONFIG_MTK_FINGERPRINT_SUPPORT=y
# CONFIG_SND_SOC_MT6660 is not set
# CONFIG_SND_SMARTPA_AW882XX is not set
# CONFIG_MTK_AUDIODSP_SUPPORT is not set
# CONFIG_SND_SOC_MTK_AUDIO_DSP is not set
CONFIG_MTK_FLASHLIGHT_ELLIS=y
CONFIG_PROJECT_ELLIS=y
# Config modem to GWL mode
CONFIG_MTK_MD1_SUPPORT=9
