#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_CAMGEST_PARAMS=y
CONFIG_MOTO_CHOPCHOP_PARAMS=y
CONFIG_MOTO_GLANCE_PARAMS=y
CONFIG_MOTO_LTV_PARAMS=y
CONFIG_MOTO_ALSPS_NVCFG=y
CONFIG_MOTO_TAP_PARAMS=y
CONFIG_MOTO_LIGHT_1_SENSOR=y
CONFIG_SND_SOC_AW882XX_KERNEL=y
CONFIG_SND_SOC_AW882XX=y
CONFIG_TYPEC_FSA4480=y
# CONFIG_LEDS_REGULATOR_VIBRATOR is not set
# CONFIG_NFC_CHIP_SUPPORT is not set
# CONFIG_NFC_ST54_SPI is not set
# CONFIG_MTK_TYPEC_WATER_DETECT_BY_PCB is not set
CONFIG_MTK_NFC_CLKBUF_ENABLE=y

#Enable 3rd battery gauge
CONFIG_BATTERY_MM8013=y
