#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m

#disable tui since tui-size = <0 0> in mt6835.dts
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
#disable prot since prot-region-base-size = <0 0> in mt6835.dts
# CONFIG_MTK_PROT_MEM_SUPPORT is not set

# Enable DRDI feature
CONFIG_MOTO_DRDI_SUPPORT=y

