#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_ELLIS_DTB=y
CONFIG_CUSTOM_KERNEL_LCM="dsi_panel_mot_mipi_vid_tm_nt36672a_652_hdp dsi_panel_mot_mipi_vid_txd_ili7806s_652_hdp"
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_MTK_ILITEK_V3_ILI7806S=y
CONFIG_TOUCHSCREEN_MTK_NVT_NT36xxx=y
CONFIG_FW_LOADER=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_MTK_FINGERPRINT_SUPPORT=y
# CONFIG_SND_SOC_RT5509 is not set
CONFIG_SND_SOC_FS16XX=y
CONFIG_SND_HAC_AW8155=y
CONFIG_MTK_FLASHLIGHT_ELLIS=y
CONFIG_PROJECT_ELLIS=y
# Config modem to GWL mode
CONFIG_MTK_MD1_SUPPORT=9
CONFIG_MOTO_CHG_TCMD_SUPPORT=y
CONFIG_MTK_BQ2560x_SUPPORT=y
# CONFIG_BATTERY_MT6359 is not set
# CONFIG_TCPC_MT6370 is not set
CONFIG_WT_GOOGLE_KEY=y
CONFIG_TCPC_RT1711H=y
CONFIG_CHARGER_PD_ET7303=y
CONFIG_PSTORE_PMSG=y
CONFIG_TCPC_SGM7220=y
