#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_CUSTOM_KERNEL_LCM="panel_mot_mipi_vid_boe_icnl9911c_653_720p panel_mot_mipi_vid_tianma_icnl9911c_653_720p panel_mot_mipi_vid_djn_ili9882q_653_720p panel_mot_mipi_vid_boe_nt36525c_653_720p panel_mot_mipi_vid_dijing_ili9882q_653_720p"
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_NOVA_TDDI=y
CONFIG_TOUCHSCREEN_ILI9882Q_TDDI=y
CONFIG_TOUCHSCREEN_CHIPONE_V2_TDDI=y
CONFIG_TOUCHSCREEN_MTK_TYPE=y
# CONFIG_DRM_PANEL_NT35695B_AUO_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
CONFIG_DRM_PANEL_BOE_ICNL9911C_VDO=y
CONFIG_DRM_PANEL_TIANMA_ICNL9911C_VDO=y
CONFIG_DRM_PANEL_DJN_ILI9882Q_VDO=y
CONFIG_DRM_PANEL_BOE_NT36525C_VDO=y
CONFIG_DRM_PANEL_DIJING_ILI9882Q_VDO=y
CONFIG_DRM_SUPPORT_MORE_PANELS=y
CONFIG_BACKLIGHT_PWM_11BIT=y
# CONFIG_MTK_AAL_SUPPORT is not set
# CONFIG_LEDS_MTK_PWM is not set
CONFIG_MT6360_PMU_RGBLED=y
CONFIG_LEDS_MTK_DISP=y
CONFIG_NXP_NFC_ESE_DEVICE=y
CONFIG_NXP_NFC_PN8XT=y
CONFIG_SND_SMARTPA_AW883XX=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_austin_s5kjn1sq_mipi_raw mot_austin_hi1336_mipi_raw mot_austin_gc02m1b_mipi_raw mot_austin_gc02m1_mipi_raw"
CONFIG_MTK_IMGSENSOR=y
CONFIG_CUSTOM_KERNEL_CAM_CAL_DRV="BRCB032GWZ_3 GT24c32a cat24c16"
CONFIG_MTK_CAMERA_ISP_RSC_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_FD_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_MFB_SUPPORT=y
CONFIG_MTK_CAM_CAL=y
CONFIG_MTK_CAM_SECURITY_SUPPORT=y
CONFIG_MTK_CAM_GENIEZONE_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT=y
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_CAMGEST_PARAMS=y
CONFIG_MOTO_CHOPCHOP_PARAMS=y
CONFIG_MOTO_GLANCE_PARAMS=y
CONFIG_MOTO_LTV_PARAMS=y
CONFIG_MOTO_ALSPS_NVCFG=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_USB_CONFIGFS_NCM=y
# CONFIG_UFSHPB is not set
# CONFIG_SCSI_SKHPB is not set
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set

# MTK VOW-OKG
CONFIG_MTK_VOW_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=0
CONFIG_MTK_VOW_DSP_VERSION="ver02"
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y

#low battery limit
# CONFIG_MTK_FLASHLIGHT_PT is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT is not set
# CONFIG_MTK_FLASHLIGHT_DLPT is not set

CONFIG_MTK_TYPEC_WATER_DETECT=y
CONFIG_MOT_CAMERA_LDO=y
CONFIG_MOT_WL2868=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y
#disable CDMA
CONFIG_MTK_MD1_SUPPORT=22
CONFIG_MTK_C2K_LTE_MODE=0

# Enable FBE V2 with wrapped key mode
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y
