#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_CMD is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672C_CPHY_VDO is not set
# CONFIG_DRM_PANEL_SC_NT36672C_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_SAMSUNG_S68FC01_VDO_AOD is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TRULY_NT35595_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD_FHDP is not set
# CONFIG_DRM_PANEL_K6895V1_64_95T_ALPHA_CMD is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ_WA is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672C_CPHY_VDO_90HZ_RT4801 is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_SAMSUNG_S6E3HAE_CMD_120HZ is not set
# CONFIG_DRM_PANEL_CSOT_VTDR6115_655_FHDP_DPHY_VDO_144HZ is not set

CONFIG_DRM_PANEL_TIANMA_VTDR6115_655_FHDP_DPHY_VDO_144HZ=m
CONFIG_DRM_PANEL_CSOT_VTDR6115_655_FHDP_DPHY_VDO_144HZ_C7=m
CONFIG_DRM_PANEL_TIANMA_VTDR6115_655_FHDP_DPHY_VDO_144HZ_U8=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_OF_GPIO=y
#enable zram writeback
CONFIG_ZRAM_WRITEBACK=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_MOTO_WL2864C=m
CONFIG_MTK_VIDEO_AW36518=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_manaus_ov50a_mipi_raw mot_manaus_ov32b_mipi_raw mot_manaus_hi1336_mipi_raw"
# CONFIG_RT4831A_I2C is not set
CONFIG_SND_SMARTPA_AW882XX=y
CONFIG_AW_RAMPING_SUPPORT=y
CONFIG_DUMMY_SND_CARD_SUPPORT=y
CONFIG_FSA4480_SENS_TO_GND=y
CONFIG_AW_MTK_RCV_SUPPORT=y
CONFIG_SND_I2S1=y
CONFIG_TYPEC_FSA4480=m
CONFIG_MOTO_WLC_ALG_SUPPORT=m
CONFIG_MOTO_CHG_TCMD_SUPPORT=m
#add for svp
CONFIG_TRUSTONIC_TEE_SUPPORT=m
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#add light_1
CONFIG_MOTO_LIGHT_1_SENSOR=y

# Add swtp customization
CONFIG_MOTO_MANAUS_SWTP_CUST=y

CONFIG_MICRON_UFSHID=y
# CONFIG_UFSTW is not set
CONFIG_SCSI_SKHID=y

# CONFIG_SCSI_UFS_HPB is not set
# CONFIG_UFSSHPB is not set

CONFIG_MOTO_PE50_CV_LOWER_BOUND_GAP_OFF=y

#Moto Manaus Camera eeprom
CONFIG_MTK_EEPROM_PROJECT="manaus"

CONFIG_MTK_MEMORY_OPTIMIZE=y

# CONFIG_MTK_VOW_DUAL_MIC_SUPPORT is not set
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y


CONFIG_MTK_FLASHLIGHT_AW36518=m
CONFIG_HQ_CAMERA_LDO=m

