#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_CAMGEST_PARAMS=y
CONFIG_MOTO_CHOPCHOP_PARAMS=y
CONFIG_MOTO_GLANCE_PARAMS=y
CONFIG_MOTO_LTV_PARAMS=y
CONFIG_MOTO_ALSPS_NVCFG=y
CONFIG_MOTO_TAP_PARAMS=y
CONFIG_MOTO_LIGHT_1_SENSOR=y
CONFIG_SND_SOC_AW882XX_KERNEL=y
CONFIG_SND_SOC_AW882XX=y
CONFIG_TYPEC_FSA4480=y
# CONFIG_LEDS_REGULATOR_VIBRATOR is not set
# CONFIG_NFC_CHIP_SUPPORT is not set
# CONFIG_NFC_ST54_SPI is not set
# CONFIG_MTK_TYPEC_WATER_DETECT_BY_PCB is not set
CONFIG_MTK_NFC_CLKBUF_ENABLE=y
# disable cdma mode
CONFIG_MTK_MD1_SUPPORT=22
CONFIG_MTK_C2K_LTE_MODE=0

#Enable 3rd battery gauge
CONFIG_BATTERY_MM8013=y
CONFIG_MOTO_PD_HYPER=y
CONFIG_MOTO_POWER_PATH_DISABLE=y

CONFIG_USE_MT6360_TS_PIN=y
CONFIG_POWEROFF_CHG_THERM_LYRIQ=y
# CONFIG_TYPEC_GPIO_OUT_TOGGLE is not set

CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_lyriq_ov50e_mipi_raw mot_lyriq_ov50a_mipi_raw mot_lyriq_ov32b_mipi_raw mot_lyriq_hi1336_mipi_raw"
CONFIG_I2C_CHARDEV=y
CONFIG_MOTO_WL2864C=y
CONFIG_SOIS_BOOST_CPU=y
CONFIG_MOT_LYRIQ=y
CONFIG_MTK_LENS=y
CONFIG_OF=y

CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n

CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=y
CONFIG_DRM_PANEL_BOE_NT37701A_655_FHD_VDO_144HZ=y
CONFIG_DRM_PANEL_TM_VTDR6115_655_FHD_VDO_144HZ=y
CONFIG_DRM_PANEL_TM_VTDR6115_655_FHD_VDO_144HZ_V1=y
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_MTK_AAL_SUPPORT is not set
# CONFIG_LEDS_MTK_PWM is not set
CONFIG_LEDS_MTK_DISP=y
# Enable MOTO SECURITY CCCI DATA feature
CONFIG_MOTO_CCCI_SEC_SUPPORT=y
CONFIG_MOTO_WLC_ALG_SUPPORT=y
# Enable FBE V2 wrapped key mode.
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
# CONFIG_MTK_PROT_MEM_SUPPORT is not set
# CONFIG_MTK_CAM_SECURITY_SUPPORT is not set

CONFIG_MOTO_LYRIQ_PROJECT_SWTP_SETING_APART=y
CONFIG_MOTO_LYRIQ_DRDI_RF_SET_INDEX=y
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_BLK_CGROUP=y
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_SUPPORT_MMI_ADAPTER=y
# CONFIG_SCSI_UFS_HPB is not set
# CONFIG_SCSI_SKHPB is not set
CONFIG_THERMAL_CP_SUPPORT=y

# MTK VOW-OKG
CONFIG_MTK_VOW_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=n
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_DSP_VERSION="ver02"
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_USB_RTL8152=y
