#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_CMD is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672C_CPHY_VDO is not set
# CONFIG_DRM_PANEL_SC_NT36672C_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ_WA is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_SAMSUNG_S68FC01_VDO_AOD is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_SAMSUNG_S6E3HAE_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TRULY_NT35595_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD_FHDP is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_655_FHDP_DPHY_CMD_144HZ_RODE is not set
# CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ_V1 is not set
# CONFIG_DRM_PANEL_BOE_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_K6895V1_64_95T_ALPHA_CMD is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672C_CPHY_VDO_90HZ_RT4801 is not set
# CONFIG_DRM_PANEL_TIANMA_ICNL9922_649_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TONGXINGDA_FT8726_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_CSOT_FT8726_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_CSOT_VTDR6115_655_FHDP_DPHY_VDO_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_VTDR6115_655_FHDP_DPHY_VDO_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672C_649_FHDP_DPHY_VDO_120HZ is not set

CONFIG_DRM_PANEL_TM_NT36672C_650_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_TXD_ILI7807S_650_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_CSOT_FT8725_650_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_PANEL_TP_ESD_RECOVERY=y
CONFIG_OF_GPIO=y
#enable zram writeback
CONFIG_ZRAM_WRITEBACK=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_cancunf_ov50d_mipi_raw mot_cancunf_s5kjns_mipi_raw mot_cancunf_jns_yova_mipi_raw mot_cancunf_hi1634q_mipi_raw mot_cancunf_s5k3p9sp04_mipi_raw mot_cancunf_s5k4h7_mipi_raw mot_cancunf_sc202_mipi_raw"
CONFIG_MTK_FLASHLIGHT_CANCUNF=m
CONFIG_HQ_CAMERA_LDO=m
# CONFIG_RT4831A_I2C is not set
# CONFIG_SND_SMARTPA_AW883XX_I2S3 is not set
# CONFIG_SND_SMARTPA_AW882XX is not set
# CONFIG_SND_I2S1 is not set
#Add for HAC
CONFIG_MTK_HAC_SGM3715_SUPPORT=y
CONFIG_TYPEC_FSA4480=m
CONFIG_MOTO_WLC_ALG_SUPPORT=m
CONFIG_MOTO_CHG_TCMD_SUPPORT=m
#add for svp
CONFIG_TRUSTONIC_TEE_SUPPORT=m
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_WT6670F_QC3P=m
CONFIG_DISABLE_SUPPORT_MMI_ADAPTER=y
CONFIG_MOTO_CHG_WT6670F_SUPPORT=y
CONFIG_MOTO_DISCRETE_CHARGE_PUMP_SUPPORT=y
CONFIG_MOTO_CHARGER_PUMP_MEASURE_AVG_VOL=y
CONFIG_MOTO_CHARGER_MT6375_SUPPORT=y
CONFIG_MOTO_CHARGE_PUMP_OVP_CONTROL_SUPPORT=y
CONFIG_MOTO_CHG_FFC_5V10W_SUPPORT=y
CONFIG_MOTO_CHG_FFC_THRESHOLD_1900=y
CONFIG_MOTO_WT6670F_SHUTDOWN_ONLY_DO_SW_RESET=y
CONFIG_MOTO_SELECT_LOW_TMP_BATVOL=y
CONFIG_MOTO_SELECT_ENABLE_VBAT_MON=y
# Add swtp customization
CONFIG_MOTO_CANCUNF_SWTP_CUST=y

# Add charger pe5 customization
CONFIG_MOTO_PE50_CV_LOWER_BOUND_GAP_OFF=y

CONFIG_MICRON_UFSHID=y
# CONFIG_UFSTW is not set
CONFIG_SCSI_SKHID=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y

CONFIG_MTK_CLKBUF_NFC=y
CONFIG_DISP_ESD_NOTIFY_SUPPORT=y


#Moto cancunf Camera
# CONFIG_MOT_CANCUNF_CAMERA_PROJECT is not set
CONFIG_MOT_CANCUNF_CAMERA_PROJECT=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y

#Add for AW87XXX
CONFIG_SND_SOC_AW87XXX=m
CONFIG_SND_SOC_AW87XXX_KERNEL=y

#disable UFS HPB
# CONFIG_UFSSHPB is not set
# CONFIG_SCSI_UFS_HPB is not set

#disable MTK default touch drives
CONFIG_TOUCHSCREEN_MTK_TOUCH=""

# CONFIG_MTK_VOW_DUAL_MIC_SUPPORT is not set
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y

#enable cancunf battery ntc table
CONFIG_CANCUNF_BATTERY_NTC=y

#enable cancunf surface_ntc
CONFIG_CANCUNF_SURFACE_NTC_SUPPORT=y

#enable cancunf set icl
CONFIG_CANCUNF_FACTORY_MODE_SET_ICL_SUPPORT=y

#disable tui since tui-size = <0 0> in mt6855.dts
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
#disable prot since prot-region-base-size = <0 0> in mt6855.dts
# CONFIG_MTK_PROT_MEM_SUPPORT is not set

#enable the PCPU erofs performance, depends on GKI android12-5.10-2022-12_r8 or later
CONFIG_EROFS_FS_PCPU_KTHREAD=y
CONFIG_EROFS_FS_PCPU_KTHREAD_HIPRI=y

CONFIG_MOTO_THERMAL_CHARGER_STATE_NUM=13
