
CONFIG_CUSTOM_KERNEL_LCM="dsi_panel_mot_mipi_vid_visionox_ft3519_fhd dsi_panel_mot_mipi_vid_visionox_rm692cx_gt9885_fhd"
CONFIG_LCM_HEIGHT="2400"
CONFIG_LCM_WIDTH="1080"
# CONFIG_LEDS_MTK_PWM is not set
# CONFIG_DRM_PANEL_NT35695B_AUO_VDO is not set
# CONFIG_DRM_PANEL_NT36672A_RT4801_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_VISIONOX_RM692DX_VDO is not set
# CONFIG_MTK_AAL_SUPPORT is not set
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_LEDS_GPIO=y
CONFIG_NXP_NFC_ESE_DEVICE=y
CONFIG_NXP_NFC_PN8XT=y
# CONFIG_SND_SOC_MT6660 is not set
CONFIG_SND_SOC_FS16XX=y

CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_ARCH_MOTO_PROJECT="corfu"

CONFIG_THERMAL_CP_SUPPORT=y
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set

CONFIG_NFC_CHIP_SUPPORT=y
CONFIG_MTK_NFC_CLKBUF_ENABLE=y

CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_corfu_s5kgm1_qtech mot_corfu_hi1336_ofilm mot_corfu_s5k4h7_qtech mot_corfu_gc02m1_tsp mot_corfu_hi1336_ofilm_doe"
CONFIG_MTK_IMGSENSOR=y
CONFIG_MTK_FLASHLIGHT=y
CONFIG_MTK_FLASHLIGHT_CORFU_GPIO=y
# CONFIG_MTK_FLASHLIGHT_PT is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT is not set
CONFIG_TCPC_WUSB3801=y
# CONFIG_USB_POWER_DELIVERY is not set
# CONFIG_TCPC_MT6370 is not set
### CONFIG_MTK_EXTERNAL_CHARGER_TYPE_DETECT is not set
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_BLK_CGROUP=y
CONFIG_HZ_300=y
CONFIG_CHARGER_BQ25601=y
CONFIG_WT6670F_QC3P=y
CONFIG_BQ2597X_CHARGE_PUMP=y
CONFIG_MOTO_CHG_WT6670F_SUPPORT=y
CONFIG_TCPC_SGM7220=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_LAN78XX=y
CONFIG_USB_USBNET=y
CONFIG_MOTO_MTK_PATCH=y
