#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
# CONFIG_BATTERY_MT6359 is not set
# CONFIG_MFD_MT6370_PMU is not set
# CONFIG_MT6370_PMU_CHARGER is not set
# CONFIG_MT6370_PMU_FLED is not set
# CONFIG_MT6370_PMU_BLED is not set
# CONFIG_MT6370_PMU_LDO is not set
# CONFIG_MT6370_PMU_DSV is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
CONFIG_MTK_BQ2560x_SUPPORT=y
CONFIG_TCPC_SGM7220=y
CONFIG_TCPC_RT1711H=y
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_CUSTOM_KERNEL_LCM="nt36525c_fhdp_dsi_vdo_auo_cphy_90hz_djin"

CONFIG_SND_SOC_FS16XX=y
