#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_CUSTOM_KERNEL_LCM="panel_mot_mipi_vid_tianma_ili7807s_678_fhd"
CONFIG_LCM_HEIGHT="2460"
CONFIG_LCM_WIDTH="1080"
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_LEDS_AW99703=y
CONFIG_LEDS_LM3697=y
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_MTK_ILI7807=y
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_NXP_NFC_ESE_DEVICE=y
CONFIG_NXP_NFC_PN8XT=y
CONFIG_MT6360_PMU_RGBLED=y
# CONFIG_SND_SOC_MT6660 is not set
CONFIG_SND_SMARTPA_AW882XX=y
CONFIG_MTK_AURISYS_PHONE_CALL_SUPPORT=y
CONFIG_MTK_AUDIODSP_SUPPORT=y
CONFIG_SND_SOC_MTK_AUDIO_DSP=y
CONFIG_CAMERA_DVDD_SWITCH=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_lisbon_ov64b40_mipi_raw mot_lisbon_ov16a1q_mipi_raw mot_lisbon_s5k4h7_mipi_raw mot_lisbon_ov02b1b_mipi_raw mot_lisbon_s5k5e9_mipi_raw"
CONFIG_MTK_IMGSENSOR=y
CONFIG_CUSTOM_KERNEL_CAM_CAL_DRV="BRCB032GWZ_3 GT24c32a cat24c16"
CONFIG_MTK_CAMERA_ISP_RSC_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_FD_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_MFB_SUPPORT=y
CONFIG_MTK_CAM_CAL=y
CONFIG_MTK_CAM_SECURITY_SUPPORT=y
CONFIG_MTK_CAM_GENIEZONE_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MTK_FLASHLIGHT_LISBON=y
CONFIG_PROJECT_ELLIS=y
# Config modem to GWL mode
CONFIG_MTK_MD1_SUPPORT=9
