#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_CUSTOM_KERNEL_LCM="panel_mot_mipi_vid_truly_icnl9911c_650_hdp"
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_TOUCHSCREEN_MTK=y
CONFIG_TOUCHSCREEN_CHIPONE=y
# CONFIG_DRM_PANEL_NT35695B_AUO_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
CONFIG_DRM_PANEL_TRULY_ICNL9911C_VDO=y
# CONFIG_MTK_AAL_SUPPORT is not set
# CONFIG_LEDS_MTK_PWM is not set
CONFIG_LEDS_MTK_DISP=y
CONFIG_NXP_NFC_ESE_DEVICE=y
CONFIG_NXP_NFC_PN8XT=y
CONFIG_SND_SMARTPA_AW881XX=y
CONFIG_CAMERA_DVDD_SWITCH=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="saipan_qtech_hi4821q_mipi_raw saipan_shine_hi846_mipi_raw saipan_dmegc_hi1336_mipi_raw saipan_cxt_gc02m1b_mipi_mono saipan_cxt_gc02m1_mipi_raw"
CONFIG_MTK_IMGSENSOR=y
CONFIG_CUSTOM_KERNEL_CAM_CAL_DRV="BRCB032GWZ_3 GT24c32a cat24c16"
CONFIG_MTK_CAMERA_ISP_RSC_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_FD_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_MFB_SUPPORT=y
CONFIG_MTK_CAM_CAL=y
CONFIG_MTK_CAM_SECURITY_SUPPORT=y
CONFIG_MTK_CAM_GENIEZONE_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT=y
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_CAMGEST_PARAMS=y
CONFIG_MOTO_CHOPCHOP_PARAMS=y
CONFIG_MOTO_GLANCE_PARAMS=y
CONFIG_MOTO_LTV_PARAMS=y
CONFIG_MOTO_ALSPS_PARAMS=y
# CONFIG_UFSHPB is not set
# CONFIG_SCSI_SKHPB is not set
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set

