#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
# CONFIG_BATTERY_MT6359 is not set
# CONFIG_MFD_MT6370_PMU is not set
# CONFIG_MT6370_PMU_CHARGER is not set
# CONFIG_MT6370_PMU_FLED is not set
# CONFIG_MT6370_PMU_BLED is not set
# CONFIG_MT6370_PMU_LDO is not set
# CONFIG_MT6370_PMU_DSV is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_USB_POWER_DELIVERY is not set
CONFIG_MAUI_DTB=y
CONFIG_MTK_BQ2560x_SUPPORT=y
CONFIG_TCPC_SGM7220=y
CONFIG_TCPC_RT1711H=y
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_SND_SOC_FS16XX=y

CONFIG_MTK_MD1_SUPPORT=9
CONFIG_MTK_C2K_LTE_MODE=0

CONFIG_MTK_HIGH_FRAME_RATE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_maui_hi1634b_mipi_raw mot_maui_s5k5e9_mipi_raw mot_maui_gc02m1_mipi_raw mot_maui_ov02b10_mipi_raw"
CONFIG_MTK_FLASHLIGHT_OCP8132=y
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=y
# CONFIG_MTK_FLASHLIGHT_PT is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT is not set
# CONFIG_MTK_FLASHLIGHT_DLPT is not set

CONFIG_CUSTOM_KERNEL_LCM="dsi_panel_mot_mipi_vid_tm_icnl9911c_652_hdp"
# CONFIG_MTK_AAL_SUPPORT is not set
CONFIG_LCM_NOTIFIY_SUPPORT=y
# audio amplifier
CONFIG_SND_SOC_FS16XX_KERNEL=y
# ethernet dongle network
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_LAN78XX=y
CONFIG_USB_USBNET=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
