#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_CMD is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672C_CPHY_VDO is not set
# CONFIG_DRM_PANEL_SC_NT36672C_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_SAMSUNG_S68FC01_VDO_AOD is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TRULY_NT35595_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ=m
CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ_V1=m
CONFIG_DRM_PANEL_BOE_NT37701A_655_FHDP_DPHY_CMD_144HZ=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_OF_GPIO=y
#enable zram writeback
CONFIG_ZRAM_WRITEBACK=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_MOTO_WL2864C=m
CONFIG_MTK_VIDEO_AW36515=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_vicky_s5khm6_mipi_raw mot_vicky_s5kgm1_mipi_raw mot_vicky_hi1634q_mipi_raw mot_vicky_s5k4h7_mipi_raw mot_vicky_ov02b10_mipi_raw"
CONFIG_MTK_FLASHLIGHT_AW36518=m
CONFIG_HQ_CAMERA_LDO=m
# CONFIG_RT4831A_I2C is not set
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_SND_SMARTPA_AW883XX_I2S3=y
# CONFIG_SND_SMARTPA_AW882XX is not set
# CONFIG_SND_I2S1 is not set
CONFIG_TYPEC_FSA4480=m
CONFIG_MOTO_WLC_ALG_SUPPORT=m
CONFIG_MOTO_CHG_TCMD_SUPPORT=m
#add for svp
CONFIG_TRUSTONIC_TEE_SUPPORT=m
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_WT6670F_QC3P=m
CONFIG_MOTO_CHG_WT6670F_SUPPORT=y
CONFIG_CHARGER_SGM415XX=m
CONFIG_MOTO_CHARGER_SGM415XX=y
CONFIG_FORCE_QC3_ICL=y
CONFIG_TCPC_WUSB3801=m
# Add swtp customization
CONFIG_MOTO_TESLA_SWTP_CUST=y

CONFIG_MICRON_UFSHID=y
# CONFIG_UFSTW is not set
CONFIG_SCSI_SKHID=y
# CONFIG_DRM_PANEL_ALPHA_SAMSUNG_S6E3HAE_CMD_120HZ is not set

CONFIG_HZ_300=y

#Moto Vicky Camera eeprom
CONFIG_MTK_VICKY_EEPROM_PROJECT=y
# CONFIG_MTK_VOW_DUAL_MIC_SUPPORT is not set
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
# CONFIG_UFSSHPB is not set

#enable thermal power on/off algo
CONFIG_MOTO_THERMAL_POWER_OFF_ALGO=y

#Moto vicky Camera
CONFIG_MOT_VICKY_CAMERA_PROJECT=y