#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# CONFIG_DRM_PANEL_TRULY_TD4330_VDO is not set
# CONFIG_DRM_PANEL_TRULY_TD4330_CMD is not set
# CONFIG_DRM_PANEL_TRULY_FT8756_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672C_CPHY_VDO is not set
# CONFIG_DRM_PANEL_SC_NT36672C_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TIANMA_R66451_CMD_120HZ_WA is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_CPHY_VDO is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_SAMSUNG_S68FC01_VDO_AOD is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD is not set
# CONFIG_DRM_PANEL_HX_NT37701_DPHY_CMD_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_SAMSUNG_S6E3HAE_CMD_120HZ is not set
# CONFIG_DRM_PANEL_TRULY_NT35595_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD_FHDP is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT37701A_655_FHDP_DPHY_CMD_144HZ_RODE is not set
# CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_CSOT_NT37701A_655_FHDP_DPHY_CMD_144HZ_V1 is not set
# CONFIG_DRM_PANEL_BOE_NT37701A_655_FHDP_DPHY_CMD_144HZ is not set
# CONFIG_DRM_PANEL_K6895V1_64_95T_ALPHA_CMD is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672C_CPHY_VDO_90HZ_RT4801 is not set
# CONFIG_DRM_PANEL_TIANMA_ICNL9922_649_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_TONGXINGDA_FT8726_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_CSOT_FT8726_FHDP_DPHY_VDO_120HZ is not set
# CONFIG_DRM_PANEL_CSOT_VTDR6115_655_FHDP_DPHY_VDO_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_VTDR6115_655_FHDP_DPHY_VDO_144HZ is not set
# CONFIG_DRM_PANEL_TIANMA_NT36672C_649_FHDP_DPHY_VDO_120HZ is not set

# disable below unused configs from MTK [ALPS08063654] 6765 patchback
# CONFIG_HIMAX_WAKE_UP is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_MTK_SENSOR_PROJECT is not set
# CONFIG_OCP96011_I2C is not set
# CONFIG_PWRSEQ_SIMPLE is not set
# CONFIG_REGULATOR_ALPHA_FOLDABLE_SUPPORT_ET5904 is not set
# CONFIG_REGULATOR_FAN53870 is not set
# CONFIG_REGULATOR_WL2864C is not set
# CONFIG_REGULATOR_WL2868C is not set
# CONFIG_SND_SOC_AD10 is not set
# CONFIG_SND_SOC_CS35L45 is not set
# CONFIG_SND_SOC_MT6358_ACCDET is not set
# CONFIG_TCPC_RT1711H is not set
# CONFIG_TOUCHSCREEN_GOODIX_BRL is not set
# CONFIG_TOUCHSCREEN_HIMAX_CHIPSET is not set
# CONFIG_TOUCHSCREEN_HIMAX_COMMON is not set
# CONFIG_TOUCHSCREEN_HIMAX_DEBUG is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102 is not set
# CONFIG_TOUCHSCREEN_HIMAX_INCELL is not set
# CONFIG_TOUCHSCREEN_HIMAX_INSPECT is not set
# CONFIG_MTK_VIDEO_AW36514 is not set
# CONFIG_MTK_VIDEO_AW36518 is not set

CONFIG_DRM_PANEL_TM_ILI7807S_672_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_DJN_FT8725_672_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_CSOT_ICNL9922C_672_FHDP_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=m
CONFIG_MTK_DRM_DSI_DPHY_TIMCONFIG_V2=y
CONFIG_OF_GPIO=y
CONFIG_AF_NOISE_ELIMINATION=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
#enable zram writeback
CONFIG_ZRAM_WRITEBACK=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y
CONFIG_MOTO_WL2864C=m
CONFIG_MTK_VIDEO_AW36515=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_cancunn_ov50d_mipi_raw mot_cancunn_hi1634q_mipi_raw mot_cancunn_s5k4h7_mipi_raw"
CONFIG_MTK_FLASHLIGHT_AW36518=m
CONFIG_HQ_CAMERA_LDO=m
# CONFIG_RT4831A_I2C is not set
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_SND_SMARTPA_AW883XX_I2S3=y
CONFIG_CANCUNN_AUDIO=y
# CONFIG_SND_SMARTPA_AW882XX is not set
# CONFIG_SND_I2S1 is not set
CONFIG_TYPEC_FSA4480=m
CONFIG_MOTO_WLC_ALG_SUPPORT=m
CONFIG_MOTO_CHG_TCMD_SUPPORT=m
#add for svp
CONFIG_TRUSTONIC_TEE_SUPPORT=m
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_DISABLE_SUPPORT_MMI_ADAPTER=y
# CONFIG_WT6670F_QC3P is not set
# CONFIG_MOTO_CHG_WT6670F_SUPPORT is not set
# Add swtp customization
CONFIG_MOTO_CANCUNN_SWTP_CUST=y
CONFIG_MOTO_CHARGER_MT6375_SUPPORT=y
CONFIG_MOTO_CHANNEL_SWITCH=y
CONFIG_MOTO_CHARGER_10W_3A_SUPPORT=y

# Add charger pe5 customization
CONFIG_MOTO_PE50_CV_LOWER_BOUND_GAP_OFF=y
CONFIG_MICRON_UFSHID=y
# CONFIG_UFSTW is not set
CONFIG_SCSI_SKHID=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y

CONFIG_MTK_CLKBUF_NFC=y

#Moto devonn Camera
CONFIG_MOT_CANCUNN_CAMERA_PROJECT=y
#add for i2c tool
CONFIG_I2C_CHARDEV=y

# CONFIG_SCSI_UFS_HPB is not set
# CONFIG_UFSSHPB is not set

#disable MTK default touch drives
CONFIG_TOUCHSCREEN_MTK_TOUCH=""

# CONFIG_MTK_VOW_DUAL_MIC_SUPPORT is not set
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y

CONFIG_OPT_FACTORY_IBUS_LIMIT=y

CONFIG_MOTO_THERMAL_CHARGER_STATE_NUM=10

#disable tui since tui-size = <0 0> in mt6855.dts
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
#disable prot since prot-region-base-size = <0 0> in mt6855.dts
# CONFIG_MTK_PROT_MEM_SUPPORT is not set

#enable the PCPU erofs performance, depends on GKI android12-5.10-2022-12_r8 or later
CONFIG_EROFS_FS_PCPU_KTHREAD=y
CONFIG_EROFS_FS_PCPU_KTHREAD_HIPRI=y
