
config CUSTOM_KERNEL_STEP_COUNTER
	bool "CUSTOM_KERNEL_STEP_COUNTER"
	help
	  Kernel space step counter driver.
          A pedometer is a device, usually portable and electronic
          or electromechanical, that counts each step a person takes
          by detecting the motion of the person's hands or hips.

config CUSTOM_KERNEL_SIGNIFICANT_MOTION_SENSOR
	bool "CUSTOM_KERNEL_SIGNIFICANT_MOTION_SENSOR"
	help
	  Kernel space sigificant motion sensor driver.
          A motion detector is often integrated as a component
          of a system that automatically performs a task or alerts
          a user of motion in an area.
