menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GPIOLIB
	help
	  Say Y here to enable GPIO based switch support.

config SWITCH_USB_RT8973
	bool "RT8973 USB Switch Driver"
	default n
	help
	  Say Y here to enable RT8973 usb switch support.

endif # SWITCH
