config MTK_ACAO_SUPPORT
	bool "Enable MediaTek All Core Always Online"
	default n
	help
	  All Core Always Online is an option to keep
	  All CPU online, instead of frequently hotplug
	  on/off CPUs by hotplug sevice (HPS).
	  With MTK_ACAO_SUPPORT, CPU low power features will
	  implements in CPUidle framework
