# product: bingo
CONFIG_BUILD_ARM_DTB_OVERLAY_IMAGE_NAMES="mt6771-moto-overlay-bingo-evt1 mt6771-moto-overlay-bingo-evt2"
CONFIG_ARCH_MTK_PROJECT="bingo"
CONFIG_MOTO_MAIN_DTSI="mt6771-moto-main-bingo.dtsi"
# CONFIG_TOUCHSCREEN_MTK_GT1151 is not set
# CONFIG_GT1151_FIRMWARE="firmware2"
# CONFIG_GT1151_CONFIG="config17"
# CONFIG_GTP_DRIVER_SEND_CFG is not set
# CONFIG_GTP_CUSTOM_CFG is not set
# CONFIG_GTP_AUTO_UPDATE is not set
# CONFIG_GTP_HEADER_FW_UPDATE is not set
# CONFIG_GTP_CREATE_WR_NODE is not set
# CONFIG_GTP_POWER_CTRL_SLEEP is not set
CONFIG_TOUCHSCREEN_MTK_FOCALTECH_TS=y
CONFIG_TOUCHSCREEN_FOCALTECH_MMI=y
CONFIG_CUSTOM_KERNEL_LCM="panel_mot_mipi_vid_holi_571_720p panel_mot_mipi_vid_djn_571_720p"
CONFIG_LCM_HEIGHT="1520"
CONFIG_LCM_WIDTH="720"
# CONFIG_MFD_MT6370_PMU is not set
# CONFIG_MT6370_PMU_CHARGER is not set
# CONFIG_TCPC_CLASS is not set
# CONFIG_USB_POWER_DELIVERY is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_USB_C_SWITCH_U3_MUX is not set
CONFIG_MTK_BQ2560X_SUPPORT=y
# CONFIG_MT6771_QUERY_PCB_ID is not set
# CONFIG_SND_SOC_RT5509 is not set
CONFIG_USB_MTK_IDDIG=y
# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5k3l6_mipi_raw s5k4h7yx_mipi_raw ov02a10_mipi_raw"
CONFIG_MTK_FLASHLIGHT_DUMMY_GPIO=y
# CONFIG_MTK_FLASHLIGHT_MT6370 is not set
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_MTK_MAGHUB is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
# CONFIG_MTK_UNCALI_MAGHUB is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_MTK_BAROHUB is not set
# CONFIG_MTK_GLGHUB is not set
CONFIG_SAR=y
CONFIG_ABOV_SAR=y
CONFIG_MOTO_ALGO=y
CONFIG_MOTO_STOWED=y
CONFIG_MOTO_FLATUP=y
CONFIG_MOTO_FLATDOWN=y
CONFIG_MOTO_CAMGEST=y
CONFIG_MOTO_CHOPCHOP=y
CONFIG_MOTO_GLANCE=y
CONFIG_MOTO_LTV=y
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_FTM=y
CONFIG_MOTO_OFFBODY=y
CONFIG_BACKLIGHT_SUPPORT_SGM37604A=y
