# product: lima
CONFIG_BUILD_ARM_DTB_OVERLAY_IMAGE_NAMES="mt6771-moto-overlay-lima-evb mt6771-moto-overlay-lima-evt1 mt6771-moto-overlay-lima-evt2 mt6771-moto-overlay-lima-dvt1a mt6771-moto-overlay-lima-dvt1b mt6771-moto-overlay-lima-dvt2"
CONFIG_ARCH_MTK_PROJECT="lima"
CONFIG_MOTO_MAIN_DTSI="mt6771-moto-main-lima.dtsi"
CONFIG_CUSTOM_KERNEL_LCM="panel_mot_mipi_vid_tianma_622_720p panel_mot_mipi_vid_djn_622_720p panel_mot_mipi_vid_holi_622_720p"
CONFIG_LCM_HEIGHT="1520"
CONFIG_LCM_WIDTH="720"
CONFIG_MTK_I2C=y
CONFIG_MTK_LCM_BIAS_OCP2131=y
# CONFIG_TOUCHSCREEN_MTK_GT1151 is not set
# CONFIG_GT1151_FIRMWARE is not set
# CONFIG_GT1151_CONFIG is not set
# CONFIG_GTP_DRIVER_SEND_CFG is not set
# CONFIG_GTP_CUSTOM_CFG is not set
# CONFIG_GTP_AUTO_UPDATE is not set
# CONFIG_GTP_HEADER_FW_UPDATE is not set
# CONFIG_GTP_CREATE_WR_NODE is not set
# CONFIG_GTP_POWER_CTRL_SLEEP is not set
CONFIG_TOUCHSCREEN_ILITEK_MMI=y
CONFIG_TOUCHSCREEN_NOVA_MMI=y
CONFIG_TOUCHSCREEN_FTS_MMI=y
# CONFIG_MFD_MT6370_PMU is not set
# CONFIG_MT6370_PMU_CHARGER is not set
# CONFIG_MT6370_PMU_FLED is not set
# CONFIG_MT6370_PMU_BLED is not set
# CONFIG_MT6370_PMU_LDO is not set
# CONFIG_MT6370_PMU_DSV is not set
# CONFIG_MTK_FLASHLIGHT_MT6370 is not set
# CONFIG_RT_FLASHLIGHT is not set
# CONFIG_USB_POWER_DELIVERY is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_CHARGER_RT9465 is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_MTK_DUAL_CHARGER_SUPPORT is not set
# CONFIG_SND_SOC_RT5509 is not set
CONFIG_CHARGER_RT9471=y
CONFIG_TCPC_CLASS=y
CONFIG_TCPC_RT1711=y
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_MTK_MAGHUB is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
# CONFIG_MTK_UNCALI_MAGHUB is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_MTK_BAROHUB is not set
# CONFIG_MTK_GLGHUB is not set
# CONFIG_CUSTOM_KERNEL_ORIENTATION_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_TILT_DETECTOR_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_WAKE_GESTURE_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_STATIONARY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_ORIENTATION_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_IN_POCKET_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_MOTION_DETECT is not set
# CONFIG_CUSTOM_KERNEL_DEVICE_ORIENTATION is not set
CONFIG_SAR=y
CONFIG_ABOV_A96T346=y
CONFIG_MOTO_ALGO=y
CONFIG_MOTO_STOWED=y
CONFIG_MOTO_FLATUP=y
CONFIG_MOTO_FLATDOWN=y
CONFIG_MOTO_CAMGEST=y
CONFIG_MOTO_CHOPCHOP=y
CONFIG_MOTO_GLANCE=y
CONFIG_MOTO_LTV=y
CONFIG_MOTO_ALGO_PARAMS=y
CONFIG_MOTO_FTM=y
CONFIG_MOTO_OFFBODY=y
CONFIG_MOTO_LTS=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SND_SOC_CS35L41=y
CONFIG_SND_SOC_CS35L41_SPI=y
# CONFIG_SND_SOC_CS35L41_I2C is not set
CONFIG_SND_SOC_WM_ADSP=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_INPUT_FPC_FINGERPRINT=y
# CONFIG_USB_C_SWITCH_U3_MUX is not set
# CONFIG_MTK_VIBRATOR is not set
CONFIG_AW8624_HAPTIC=y
CONFIG_DRV2624=y
CONFIG_MTK_CHARGER2_THERMAL=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5k3l6_mipi_raw s5k4h7yx_mipi_raw ov02a10_mipi_raw s5k4h7yx_sunny_mipi_raw ov02a10_macro_mipi_raw ov2180_mipi_raw"
CONFIG_MTK_FLASHLIGHT_DUMMY_GPIO=y
CONFIG_CAMERA_PROJECT_LIMA=y
CONFIG_BACKLIGHT_SUPPORT_SM5306=y
CONFIG_HBM_DCS_ONLY=y
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_GOODIX_FINGERPRINT=y
CONFIG_GOODIX_SENSOR_TYPE="GF318M"
# CONFIG_MT6771_QUERY_PCB_ID is not set
CONFIG_MTK_AVB20_SUPPORT=y
CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS=y
CONFIG_AW8155_HAC_SUPPORT=y
CONFIG_MTK_AB_OTA_UPDATER=y
CONFIG_BALANCE_ANON_FILE_RECLAIM=y
CONFIG_DM_VERITY_HASH_PREFETCH_MIN_SIZE=1
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
CONFIG_HZ_300=y
