#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
# CONFIG_DRM_PANEL_NOVATEK_NT35695B_VDO is not set
# CONFIG_BATTERY_MT6359 is not set
# CONFIG_BATTERY_MM8013 is not set
# CONFIG_MFD_MT6370_PMU is not set
# CONFIG_MT6370_PMU_CHARGER is not set
# CONFIG_MT6370_PMU_FLED is not set
# CONFIG_MT6370_PMU_BLED is not set
# CONFIG_MT6370_PMU_LDO is not set
# CONFIG_MT6370_PMU_DSV is not set
# CONFIG_TCPC_MT6370 is not set

# CONFIG_MT6370_DBG is not set
# CONFIG_CHARGER_MT6370 is not set
# CONFIG_MFD_MT6370 is not set
# CONFIG_REGULATOR_MT6370 is not set
# CONFIG_BACKLIGHT_MT6370 is not set
# CONFIG_LEDS_MT6370_FLASH is not set
# CONFIG_MEDIATEK_MT6370_ADC is not set

# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_USB_POWER_DELIVERY is not set
CONFIG_MOTO_MAUI_PROJECT_SWTP_SETING_APART=y
CONFIG_MTK_BQ2560x_SUPPORT=y
CONFIG_TCPC_SGM7220=y
# CONFIG_TCPC_RT1711H is not set
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_SND_SOC_FS16XX=y

CONFIG_MTK_MD1_SUPPORT=9
CONFIG_MTK_C2K_LTE_MODE=0
CONFIG_I2C_CHARDEV=y

CONFIG_MTK_HIGH_FRAME_RATE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="mot_maui_hi1634b_mipi_raw mot_maui_s5k5e9_mipi_raw mot_maui_gc02m1_mipi_raw mot_maui_ov02b10_mipi_raw"
CONFIG_MTK_FLASHLIGHT_OCP8132=y
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=y
CONFIG_MOT_MAUI_CAMERA_PROJECT=y
# CONFIG_MTK_FLASHLIGHT_PT is not set
# CONFIG_MTK_FLASHLIGHT_PT_STRICT is not set
# CONFIG_MTK_FLASHLIGHT_DLPT is not set

# display configuration
CONFIG_DRM_PANEL_TM_ICNL9911C_652_HDP_DPHY_VDO_90HZ=y
CONFIG_DRM_PANEL_HLT_FT8006S_652_HDP_DPHY_VDO_90HZ=y
CONFIG_GATEIC_SM5109=y

# CONFIG_MTK_AAL_SUPPORT is not set
CONFIG_LCM_NOTIFIY_SUPPORT=y

# ethernet dongle network
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_LAN78XX=y
CONFIG_USB_USBNET=y
CONFIG_SECURITY_SELINUX_DEVELOP=y

# Enable FBE V2 with wrapped key mode
CONFIG_FSCRYPT_WRAPED_KEY_MODE_SUPPORT=y
# Enable SVP
CONFIG_TRUSTONIC_TEE_SUPPORT=y
CONFIG_MTK_DRM_KEY_MNG_SUPPORT=y
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
CONFIG_MTK_TEE_GP_SUPPORT=y

CONFIG_TRUSTONIC_TEE_VERSION="500"

# IO Scheduler
CONFIG_IOSCHED_BFQ=y
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_MMC_FFU=y

CONFIG_MMAP_READAROUND_LIMIT=8
CONFIG_MTK_CAM_SENSOR_PROBE_RETRY=y
