config MTK_BMA2XX_NEW
	bool "BMA2XX for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          BMA2XX Accelerometer.
