#
# Copyright (C) 2015 MediaTek Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
config MTK_ION
	tristate "MTK ION -- ion multimedia heap"
	depends on ION
	help
	  Choose this option to support multimedia heap.
	  It means support ION.
	  It set in xxxx_defconfig.mk
	  default is on.

config MTK_ION_CAM_POOL_DIS
	tristate "MTK_ION_CAM_POOL_DIS -- camera heap pool"
	default n
	help
	  This option is useful for ION_HEAP_TYPE_MULTIMEDIA_FOR_CAMERA.
	  For ion camera heap, buffer is reclaimed to system instead
	  of reclaiming to camera heap pool.So the memory of system can
	  use the buffer.
