
config MTK_SIGNIFICANT_MOVE
	bool "significant move hub for MediaTek package"
	help
	  A tilt detect is a device,
	  usually portable and electronic
	  or electromechanical,
	  that detect device is picked up with 35 degree.
