config MTPROF
	bool "Enable MTK profiler/debugger tool"
	default n
	help
	  CONFIG_MTPROF define if mtk profiling tools should be built-in or not. It
	  includes workqueue debugger, signal debugger, cputime, bootprof, and other
	  misc tools. If you are not sure about whether to enable it or not, please
	  set n.

if MTPROF

config MTK_LOCK_DEBUG
	bool "Support some MTK lock debug patches"
	default y
	help
	  CONFIG_MTK_LOCK_DEBUG is used to catch db when spinlock spin more than 1s and to catch
	  db when check lock fail,such as bug_header,circular_bug,deadlock_bug and so on
	  Say Y here to enable, If you are not sure about whether to enable it or not, please
	  set n.

config MTPROF_CPUTIME
	bool "thread cputime profiling"
	depends on SCHEDSTATS
        default n
	help
	  CONFIG_MTPROF_CPUTIME is used to measure process/irq execution time and export
	  the information in /proc/mtprof/cputime. Say Y here to enable thread cputime
	  profiling. If you are not sure about whether to enable it or not, please
	  set n.

config MTK_WQ_DEBUG
	bool "mtk workqueue debug"
	default n
	help
	  CONFIG_MTK_WQ_DEBUG define if workqueue debugging should be built-in or not
	  It will add logs to monitor work activation, queue, and execution. Say y to
	  enable mtk workqueue debug, or if you are not sure about this, please
	  set n

config MT_SCHED_MONITOR
	bool "mt scheduler monitor"
	default n
	help
	  MT_SCHED_MONITOR is used to monitor ISR/SOFTIRQ/TASKLET/HRTIMER/STIMER
	  disable duration. Say Y here to enable ISR/SOFTIRQ/TASKLET/HRTIMER/STIMER
	  monitor. If you are not sure about whether to enable it or not, please
	  set n.

config MT_RT_THROTTLE_MON
	bool "mt rt throttle monitor"
	default n
	help
	  MT_RT_THROTTLE_MON is used to monitor rt throttle. When rt throttle activated
	  print 5 longest execusion time rt tasks. Say Y here to enable rt throttle
	  monitor. If you are not sure about whether to enable it or not, please set n.

config PREEMPT_MONITOR
	bool "mt preempt monitor"
	default n
	help
	  PREEMPT_MONITOR is used to monitor PREEMPT disable/enalbe and
	  local_irq_disable/enable duration. Say Y here to enable PREEMPT and
	  local_irq_disable/enable monitor.
	  If you are not sure about whether to enable it or not, please set n.

config PRINTK_PROCESS_INFO
	bool "Prefix pid/process_name to each kernel log"
	default y
	help
	  PRINTK_PROCESS_INFO which is used to control whether to show
	  process information about this log.
	  the information about which cpu about this
	  process in, and whether in isr.

config MT_PRINTK_UART_CONSOLE
	bool "MTK printk UART controller"
	default y
	help
	  MT_PRINTK_UART_CONSOLE which is used to control whether to
	  control printk to uart console.  when boot up finish
	  uart console do not output printk log.
	  also RD can set the setting by command.

config LOG_TOO_MUCH_WARNING
	bool "printk too much warning"
	default y
	help
	  LOG_TOO_MUCH_WARNING which is used to control whether to
	  detect printk too much issue. kernel log too much will detect and
	  create a exception when printk log large than
	  LOG_TOO_MUCH_DETECT_COUNT in one second.

config LOG_TOO_MUCH_DETECT_COUNT
	hex "printk too much detect count"
	default 500
	depends on LOG_TOO_MUCH_WARNING

config LOG_TOO_MUCH_DETECT_GAP
	hex "detect log too much delay time"
	default 10
	depends on LOG_TOO_MUCH_WARNING

endif
