menuconfig ARCH_MEDIATEK
	bool "Mediatek MT65xx & MT81xx SoC" if ARCH_MULTI_V7
	select ARM_GIC
	select PINCTRL
	select MTK_TIMER
	select MFD_SYSCON
	help
	  Support for Mediatek MT65xx & MT81xx SoCs

if ARCH_MEDIATEK

config MACH_MT6589
	bool "MediaTek MT6589 SoCs support"
	default ARCH_MEDIATEK

config MACH_MT6592
	bool "MediaTek MT6592 SoCs support"
	default ARCH_MEDIATEK

config MACH_MT8127
	bool "MediaTek MT8127 SoCs support"
	default ARCH_MEDIATEK

config MACH_MT8135
	bool "MediaTek MT8135 SoCs support"
	default ARCH_MEDIATEK

endif

config MACH_MT6757
	bool "MediaTek MT6757"
	select GENERIC_TIME
	select GENERIC_CLOCKEVENTS
	select ARCH_HAS_CPUFREQ
	select ARM_AMBA
	select CPU_V7
	select HAVE_SMP
	select IRQ_DOMAIN
	select IRQ_DOMAIN_DEBUG
	select GENERIC_SCHED_CLOCK
	select MTK_SYS_CIRQ
	select MTK_EIC
	select ARMV7_COMPAT
	select ARMV7_COMPAT_CPUINFO
	select CPU_IDLE
	select KERNEL_MODE_NEON
	select PINCTRL
	select PINCTRL_MT6757
	select MFD_SYSCON
	select MTK_BASE_POWER
	select MTK_POWER_GS
	select MTK_SYSTRACKER_V2
	select MTK_GIC_V3_EXT
	select ARM_GIC_V3
	select MTK_LM_MODE
	select MTK_EIC_HISTORY_DUMP
	select ARM_HAS_SG_CHAIN
	select POWER_SUPPLY
	select COMMON_CLK if !MTK_CLKMGR
	select MTK_IRQ_NEW_DESIGN
	select MTK_IRQ_NEW_DESIGN_DEBUG
	select MTK_L2C_PARITY_CHECK
	select MTK_LASTPC_V2
	select MTK_USB2JTAG_SUPPORT
	select MTK_WATCHPOINT
	select ARM_ERRATA_855873
	select MTK_SEC_DEINT_SUPPORT
	select MTK_BOUNCING_CHECK
	help
	  This enables support for MediaTek Helio P20 - MT6757
	  Highly power-efficient, performance-oriented 4G LTE processor for premium,
	  thin-design smartphones. The MediaTek Helio P20 is built on a 16nm process
	  node and offers 25% better power efficiency, higher processing performance
	  and our most advanced camera/video features to date. Helio P20 also offers
	  significant multitasking and multimedia improvements thanks to its new
	  LPDDR4X memory support.

config MACH_MT6763
	bool "MediaTek MT6763"
	select GENERIC_TIME
	select GENERIC_CLOCKEVENTS
	select ARCH_HAS_CPUFREQ
	select ARM_AMBA
	select CPU_V7
	select HAVE_SMP
	select IRQ_DOMAIN
	select IRQ_DOMAIN_DEBUG
	select GENERIC_SCHED_CLOCK
	select MTK_SYS_CIRQ
	select ARMV7_COMPAT
	select ARMV7_COMPAT_CPUINFO
	select CPU_IDLE
	select KERNEL_MODE_NEON
	select PINCTRL
	select PINCTRL_MT6763
	select MFD_SYSCON
	select MTK_BASE_POWER
	select MTK_GIC_V3_EXT
	select ARM_GIC_V3
	select MTK_LM_MODE if !MTK_GMO_RAM_OPTIMIZE
	select MTK_EIC_HISTORY_DUMP
	select MTK_EIC
	select MTK_BOUNCING_CHECK
	select MTK_SYSTRACKER_V2
	select MTK_IRQ_NEW_DESIGN
	select MTK_IRQ_NEW_DESIGN_DEBUG
	help
	  This enables support for MediaTek MT6763
	  Support for arm Architecture
	  Support for k63v1 related projects

