
config LCT_CAPSENSOR_SX9310

	bool "MTK_SX9311 for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor MTK_SX9310.
