config MTK_USE_RESERVED_EXT_MEM
	bool "mtk external memory"
	default n
	help
	  external memory is unused DRAM memory, example:
	  DRAM 1GB, system uses 512MB, the left 512MB is seen
	  as external memory, it only exists in gmo projects.
	  Some debug features can use external memory to save
	  normal memory usage
