/*
 * Copyright (c) 2021 MediaTek Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&pio {
	sar_int_default: sar_int_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO18__FUNC_GPIO18>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sar_int_sleep: sar_int_sleep {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO18__FUNC_GPIO18>;
			input-enable;
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};


&i2c3 {
	status = "okay";

	sx937x:sx937x@2c {
		compatible = "Semtech,sx937x";
		reg = <0x2c>;
                Semtech,power-supply-type = <2>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&sar_int_default>;
		pinctrl-1 = <&sar_int_sleep>;
		interrupt-parent = <&pio>;
		interrupts = <18 0x02>;
		interrupt-names = "sx937x_irq";
		Semtech,nirq-gpio = <&pio 18 0x02>;
		Semtech,eldo-gpio = <&pio 183 0x00>;
                esd-reinit-on = <1>;
		/*use PH4/5/6 as the reference sensor
		set it to 0xff if the ref-phases-x is not used*/
		Semtech,ref-phases-a = <5>;
		Semtech,ref-phases-b = <6>;
		Semtech,ref-phases-c = <0xff>;
		Semtech,button-flag = <0x1f>;
		Semtech,reg-num = <58>;
		Semtech,reg-init = <
			0x8024  0x3F00
			0x4004  0x74
			0x4008  0x8
			0x8020  0x32
			0x8028  0x87F
			0x8034  0x87F
			0x8040  0x886
			0x804C  0x87F
			0x8058  0x87F
			0x8064  0x87F
			0x8070  0x85E
			0x807C  0x85E
			0x8030  0x924964
			0x803C  0x964924
			0x8048  0xB24924
			0x8054  0x924925
			0x8060  0x92492C
			0x806C  0x92C924
			0x8078  0xFFFFFF
			0x8084  0xFFF9FF
			0x8098  0x7B4B
			0x80B8  0x734B
			0x80D8  0x1D1D
			0x80F8  0x6262
			0x8118  0xFF
			0x8138  0xFF
			0x8158  0xFF
			0x8178  0xFF
			0x80A0  0x20200001
			0x80C0  0x2E2E0002
			0x80E0  0x1E1E0001
			0x8100  0x04040002
			0x8188  0x8000014
			0x818C  0x8000015
			0x8090  0x50BD5010
			0x80B0  0x50BC5000
			0x80D0  0x50B95000
			0x80F0  0x50BC5000
			0x8110  0x00005000
			0x8130  0x5000
			0x8150  0x5000
			0x8170  0x5000
			0x8088  0x300000
			0x80A8  0x300000
			0x80C8  0x300000
			0x80E8  0x300000
			0x8108  0x6300000
			0x8128  0x6300000
			0x8148  0x6300000
			0x8168  0x6300000
			0x808C  0x602000A0
			0x80AC  0x6020008C
			0x80CC  0x60200030
			0x80EC  0x60200078
			0x810C  0x60200030
			0x812C  0x60200030
			0x814C  0x60200030
			0x816C  0x60200030
		>;

		status = "okay";
	};

	awinic_sar@12 {
		/* common node */
		compatible = "awinic,aw_sar";
		reg = < 0x12 >;
		//aw_sar,regulator-power-supply = <1>;
		sar-num = < 0 >;
		interrupt-parent = < &pio >;
		interrupts = <18 0x02>;
		interrupt-names = "awinic_irq";
		irq-gpio = <&pio 18 0x02>;
		//vcc0-supply = <&L12A>;
		channel_use_flag = <0x1f>;
		aw_sar,use_plug_cail;
		aw_sar,update_fw;
		/* private node belongs to aw963xx */
		start-mode = < 1 >; // 0: start in rom  1: start in ram
		irq-mux = < 2 >; // set csx as irq pin. config this field when connect to aw96308/aw96310
		status = "okay";
	};
};
