// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2020 MediaTek Inc.
 */

/* TOUCH start */

&pio {
    ctp_ft8725_pins_default: pins_default {
        };
        ctp_ft8725_spi_mode: spimode_default {
                pins_cmd_dat {
                        pinmux = <PINMUX_GPIO73__FUNC_SPI3_CLK>,
                                <PINMUX_GPIO74__FUNC_SPI3_CSB>,
                                <PINMUX_GPIO75__FUNC_SPI3_MO>,
                                <PINMUX_GPIO76__FUNC_SPI3_MI>;
                        drive-strength = <2>;
                };
        };
};

&spi3 {
    status = "okay";
    mediatek,pad-select = <0>, <1>, <2>;
    pinctrl-names = "default", "ft8725_spi_mode";
    pinctrl-0 = <&ctp_ft8725_pins_default>;
    pinctrl-1 = <&ctp_ft8725_spi_mode>;
    focaltech@0 {
        status = "okay";
        compatible = "focaltech,fts";
        reg = <0>;
        spi-max-frequency = <6000000>;
        interrupt-parent = <&pio>;
        interrupts = <22 IRQ_TYPE_EDGE_FALLING 22 0>;
        focaltech,reset-gpio = <&pio 3 0>;
        focaltech,irq-gpio = <&pio 22 02>;
        focaltech,max-touch-number = <10>;
        focaltech,display-coords =  <0 0 1080 2400>;
        focaltech,report_gesture_key = <59>;
        focaltech,supported_gesture_type = <0x06>;
        focaltech,panel-supplier = "djn";
        focaltech,touch-charger-detect-psy-name = "battery";
        focaltech,touch-charger-detect-psp = "POWER_SUPPLY_PROP_STATUS";
    };

    ilitek@1 {
        status = "okay";
        compatible = "tchip,ilitek";
        reg = <1>;
        spi-max-frequency = <10000000>;
        interrupt-parent = <&pio>;
        interrupts = <22 IRQ_TYPE_EDGE_FALLING 22 0>;
        touch,reset-gpio = <&pio 3 0>;
        touch,irq-gpio = <&pio 22 02>;
        touch,psy-name = "battery";
        ilitek,report_gesture_key;
        ilitek,supported_gesture_type = <0x06>; //bit2-0: double:single:zero tap
    };

    chipone_tddi@2 {
        compatible = "chipone-tddi";
        reg = <2>;
        spi-max-frequency = <9600000>;
        interrupt-parent = <&pio>;
        interrupts = <22 0x2008>;
        chipone,rst-gpio = <&pio 3 0x00>;
        chipone,irq-gpio = <&pio 22 0x00>;
        chipone,x-res = <4320>;
        chipone,y-res = <9600>;

	/* Charger detect*/
	chipone,touch-charger-detect-enable;
	chipone,touch-charger-detect-type = "notify"; /* notify, poll */
	chipone,touch-charger-detect-psy-name = "mtk-master-charger"; /* usb */
	chipone,touch-charger-detect-psp = "POWER_SUPPLY_PROP_ONLINE";
	chipone,touch-charger-detect-psp-poll-interval = <1000>;
	chipone,supported_gesture_type = <0x06>;
    };
};

/* TOUCH end */
