/* Copyright (c) 2019, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "mt6771-moto-overlay.dtsi"
#include "mt6771-moto-audio-lima.dtsi"

&ctp_pins_eint_as_int {
	pins_cmd_dat {
		pins = <PINMUX_GPIO6__FUNC_GPIO6>;
	};
};
&ctp_pins_eint_output0 {
	pins_cmd_dat {
		pins = <PINMUX_GPIO6__FUNC_GPIO6>;
	};
};
&ctp_pins_eint_output1 {
	pins_cmd_dat {
		pins = <PINMUX_GPIO6__FUNC_GPIO6>;
	};
};
&ctp_pins_rst_output0 {
	pins_cmd_dat {
		pins = <PINMUX_GPIO70__FUNC_GPIO70>;
	};
};
&ctp_pins_rst_output1 {
	pins_cmd_dat {
		pins = <PINMUX_GPIO70__FUNC_GPIO70>;
	};
};
&odm {
	sar_irq:sar_irq {
	compatible = "mediatek,sar_irq";
	};
};

&i2c3 {
	abov_sar@20 {
	   compatible = "mediatek,sar";
	   reg = <0x20>;
	   gpio-irq = <9>;
	   gpio-irq-std = <&pio 9 0x0>;
	   reg_array_len = <0x03>;
	   reg_array_val = <0x07 0x00 0x08 0x1F 0xFB 0x01>;
	   cap,use_channel_bottom_lmb = <0x00>;
	   cap,use_channel_bottom_hb = <0x01>;
	   cap,use_channel_top = <0x02>;
	   label = "AbovCapSense";
	   status =  "okay";
	 };
};
