/*
 * Copyright (c) 2019 MediaTek Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&moto_chg_tcmd {
                compatible = "mmi,moto-chg-tcmd";
                status = "okay";

                mmi,ntc_table = <1>;
                mmi,ntc_v_ref = <1800000>;
                mmi,ntc_r_pull = <100000>;

                mmi,batid_v_ref = <1800000>;
                mmi,batid_r_pull = <100000>;

                mmi,adc-channel-cpu = <0>;
                mmi,adc-channel-charger = <2>;
                mmi,adc-channel-pa = <1>;
                mmi,adc-channel-batid = <3>;
                mmi,adc-channel-vbat = <100>;
};

&charger {
        /* common */
        battery_cv = <4464000>;
        max_charger_voltage = <12000000>;
        min_charger_voltage = <4600000>;

        /* charging current */
        usb_charger_current_suspend = <0>;
        usb_charger_current_unconfigured = <70000>;
        usb_charger_current_configured = <500000>;
        usb_charger_current = <500000>;
        ac_charger_current = <2500000>;
        ac_charger_input_current = <2500000>;
        non_std_ac_charger_current = <1000000>;
        charging_host_charger_current = <1500000>;
        apple_1_0a_charger_current = <650000>;
        apple_2_1a_charger_current = <800000>;
        ta_ac_charger_current = <2000000>;
        typec_limit_aicr = <2000000>;

        //mmi config
        mmi,iterm-ma = <243>;
        mmi,mmi-temp-zones =
                       <0 4200 1000  0>,
                       <10 4250 2500 1000>,
//                       <10 4450 1000 0>,
                       <15 4450 2500 0>,
                       <25 0 4000 4000>,
//                       <25 4480 4000 0>,
                       <35 0 4000 4000>,
//                       <35 4480 4000 0>,
                       <45 0 4000 4000>,
//                       <45 4480 4000 0>,
                       <60 4200 4000 0>;
        mmi,enable-charging-limit;
        mmi,upper-limit-capacity = <65>;
        mmi,lower-limit-capacity = <60>;
};

&i2c6 {
        bq2597x-standalone@66 {
                compatible = "ti,bq2597x-standalone";
                reg = <0x66>;
                interrupt-parent = <&pio>;

                ti,bq2597x,bat-ovp-alarm-disable;
                ti,bq2597x,bat-ucp-alarm-disable;
                ti,bq2597x,bat-ucp-disable;

                ti,bq2597x,bat-therm-disable;
                ti,bq2597x,bus-therm-disable;
                ti,bq2597x,die-therm-disable;

                ti,bq2597x,bat-ovp-threshold = <4525>;
                ti,bq2597x,bat-ovp-alarm-threshold = <4490>;
                ti,bq2597x,bat-ocp-threshold = <7000>;
                ti,bq2597x,bat-ocp-alarm-threshold = <6000>;

                ti,bq2597x,bus-ovp-threshold = <12000>;
                ti,bq2597x,bus-ovp-alarm-threshold = <11000>;
                ti,bq2597x,bus-ocp-threshold = <3750>;
                ti,bq2597x,bus-ocp-alarm-threshold = <3500>;


                ti,bq2597x,bat-therm-threshold = <0x15>;/*4.1%*/
                ti,bq2597x,bus-therm-threshold = <0x15>;/*4.1%*/
                ti,bq2597x,die-therm-threshold = <145>;

                ti,bq2597x,ac-ovp-threshold = <14>;
                ti,bq2597x,sense-resistor-mohm = <5>;

                sc8551,ac-ovp-threshold = <13>;
        };
};

&odm {
	mmi_chrg_manager {
		compatible = "mmi,chrg-manager";
		mmi,pps-volt-steps = <20000>;
		mmi,pps-curr-steps = <40000>;
		mmi,pd-volt-max = <12000000>;
		mmi,pd-curr-max = <3000000>;
		mmi,batt-curr-boost = <300000>;
		mmi,batt-ovp-lmt = <4550000>;
		mmi,pl-chrg-vbatt-min = <3600000>;
		mmi,typec-middle-current = <1500000>;
		mmi,step-first-current-comp = <0>;
		mmi,dont-rerun-aicl;
		mmi,chrg-temp-zones-num = <5>;
		mmi,mmi-chrg-temp-zones =
					<0 4200 1000  0 0>,
					<10 4250 2500 4450 1000>,
					<15 4450 2500 0 0>,
					<45 4300 5800 4470 4000>,
					<60 4200 4000 0 0>;
/*
            mmi,mmi-ffc-zones = <4200 243>,
                                <4250 243>,
                                <4450 243>,
                                <4480 550>,
                                <4480 588>,
                                <4480 631>,
                                <4200 243>;
*/
		mmi,thermal-min-level = <1500000>;
		charger_device_0 {
			chrg-name = "pmic-sw";
			psy-name = "battery";
			charging-curr-limited = <500000>;
		};
		charger_device_1 {
			chrg-name = "cp-master";
			psy-name = "bq2597x-standalone";
			charging-curr-min = <1500000>;
		};
	};
};
&mtk_gauge {
	df-serialnum = "SB18D50387";
#include "bat_setting/mt6789_battery_table_ATL1.dtsi"
#include "bat_setting/mt6789_battery_table_ATL2.dtsi"
#include "bat_setting/mt6789_battery_table_ATL3.dtsi"
#include "bat_setting/mt6789_battery_table_SCUD.dtsi"
};
