/* Copyright (c) 2023, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "mediatek/mt6835-moto-common-overlay.dtsi"
#include "mediatek/aw37004.dtsi"
#include "mediatek/mt6835_vegas_camera_overlay.dtsi"
#include "mediatek/vegas-display.dtsi"
#include "mediatek/vegas-touch.dtsi"
#include "mediatek/vegas-fps.dtsi"
#include "mediatek/mt6835-moto-memory.dtsi"
#include "mediatek/vegas-charger.dtsi"
#include "mediatek/vegas-sensor.dtsi"
#include "mediatek/vegas-msdc.dtsi"
#include "mediatek/vegas-audio.dtsi"
#include "mediatek/vegas-thermal.dtsi"
#include "mediatek/cust_mt6835_camera_6377_v4l2.dtsi"
/ {
switch_chg_eint: switch_chg_eint {
	};
tcpc_pd: tcpc_pd {
	};
eint_cp: eint_cp {
	};
};

&mt6377keys {
	home {
		linux,keycodes = <114>;
	};
};

&i2c3 {
        clock-frequency = <400000>;

        sn220e: sn220e@28 {
                compatible = "qcom,sn-nci";
                reg = <0x28>;
                qcom,sn-irq = <&pio 41 0>;
                qcom,sn-ven = <&pio 42  0>;
                status = "okay";
        };
};

&swtp {
	interrupt-parent = <&pio>;
	interrupts = <36 IRQ_TYPE_LEVEL_HIGH 36 0>;
	deb-gpios = <&pio 36 0>;
	debounce = <512>;
	status = "okay";
};

&swtp_1 {
	interrupt-parent = <&pio>;
	interrupts = <37 IRQ_TYPE_LEVEL_HIGH 37 0>;
	deb-gpios = <&pio 37 0>;
	debounce = <512>;
	status = "okay";
};
&swtp_2 {
	interrupt-parent = <&pio>;
	interrupts = <38 IRQ_TYPE_LEVEL_HIGH 38 0>;
	deb-gpios = <&pio 38 0>;
	debounce = <512>;
	status = "okay";
};
&swtp_3 {
	interrupt-parent = <&pio>;
	interrupts = <39 IRQ_TYPE_LEVEL_HIGH 39 0>;
	deb-gpios = <&pio 39 0>;
	debounce = <512>;
	status = "okay";
};


&rt5133 {
	status = "disabled";
};

&regulator_vibrator {
	status = "disabled";
};

&pio {
	vibrator_irq_input: vibrator_irq_input {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO11__FUNC_GPIO11>;
			slew-rate = <0>;
			input-enable;
			bias-pull-up;
		};
	};
};

&i2c11 {
        clock-frequency = <400000>;
	haptic_nv@5A{
		compatible = "awinic,haptic_nv";
		reg = < 0x5A >;
		aw862xx_i2c_addr = < 0x58 >;
		reset-gpio = <&pio 59 0>;
		irq-gpio = <&pio 11 0>;
		pinctrl-names = "irq_active";
		pinctrl-0 = <&vibrator_irq_input>;
		aw8622x_vib_lk_f0_cali = < 0 >;
		aw8622x_vib_mode = < 2 >; /* mode: RAM -> 2; CONT -> 3 */
		aw8622x_vib_f0_pre = < 2050 >;
		aw8622x_vib_f0_cali_percen = < 7 >;
		aw8622x_vib_cont_drv1_lvl = < 0x7F >;
		aw8622x_vib_lra_vrms = < 1800 >; /* Motor rated voltage, mV */
		aw8622x_vib_cont_brk_time = < 0x06 >;
		aw8622x_vib_cont_tset = < 0x06 >;
		aw8622x_vib_cont_bemf_set = < 0x02 >;
		aw8622x_vib_cont_wait_num = < 0x06 >;
		aw8622x_vib_cont_brk_gain = < 0x08 >;
		aw8622x_vib_cont_drv1_time = < 0x04 >;
		aw8622x_vib_cont_drv2_time = < 0x14 >;
		aw8622x_vib_cont_track_margin = < 0x0F >;
		aw8622x_vib_sine_array = < 0x05 0xB2 0xFF 0xEF >; /* SIN_H SIN_L COS_H COS_L */
		aw8622x_vib_d2s_gain = < 0x07 >;
		aw8622x_vib_trig_config = < 0 0 0 1 0 2 0
					    0 0 0 1 0 2 0
					    0 0 0 1 0 2 0 >;
		aw8622x_vib_duration_time = < 34 67 100 >;
		aw8622x_vib_is_enabled_auto_brk;
		aw8622x_gain_bypass = <1>;
		status = "okay";
	};
};

&u2port0 {
	mediatek,eye-vrt = <7>;
	mediatek,eye-term = <3>;
	mediatek,rev6 = <3>;
	mediatek,eye-vrt-host = <5>;
	mediatek,eye-term-host = <5>;
	mediatek,rev6-host = <3>;
};

&therm_intf {
        /*Vsensor name should be CASE DIFFERENT with the name in config file*/
        mmi,temperature-names = "BACK_TEMP", "FRONT_TEMP", "SAFETY_TEMP";/*for "back_temp" in config file*/
};

&memory_ssmr_features {
                compatible = "mediatek,memory-ssmr-features";
                svp-region-based-size = <0 0x18000000>;
                svp-page-based-size = <0 0>;
                tui-size = <0 0>;
                wfd-region-based-size = <0 0x4000000>;
                wfd-page-based-size = <0 0x4000000>;
                prot-region-based-size = <0 0>;
                prot-page-based-size = <0 0>;
                sapu-data-shm-size = <0 0>;
};
