/*
 * Things can done here:
 * 	Add nodes or properties to root node
 * 	Delete nodes or properties
*/

/ {
	utags: utags { };
	hw: hw { };
	tboard_thermistor1: thermal-ntc1 { };
	tboard_thermistor2: thermal-ntc2 { };
	tboard_thermistor3: thermal-ntc3 { };
	charge_leds: charge_leds{ };
	moto_chg_tcmd: moto_chg_tcmd { };
};
