/* Copyright (c) 2023, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "mediatek/mt6835-moto-common-overlay.dtsi"
#include "mediatek/sbuya-display.dtsi"
#include "mediatek/sbuya-touch.dtsi"
#include "mediatek/sbuya-fps.dtsi"
#include "mediatek/mt6835-moto-memory.dtsi"
#include "mediatek/sbuya-sensor.dtsi"
#include "mediatek/kansas-msdc.dtsi"
#include "mediatek/sbuya-audio.dtsi"
#include "mediatek/sbuya-fmr.dtsi"
#include "mediatek/sbuya-ntc.dtsi"
//#include "mediatek/mt6835_kansas_camera_overlay.dtsi"
/ {

irq_nfc: irq_nfc {
                compatible = "mediatek,irq_nfc-eint";
};

switch_chg_eint: switch_chg_eint {
	};
tcpc_pd: tcpc_pd {
	};
eint_cp: eint_cp {
	};
};

/* KEY GPIO standardization start */
&pio{
	aikey_gpio_default:key-default {
		ai_key_int {
			pinmux = <PINMUX_GPIO9__FUNC_GPIO9>;
			input-enable;
			bias-pull-up;
		};
	};
};
/* KEY GPIO standardization end */
&gpio_keys {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&aikey_gpio_default>;
	aikey {
		label = "AI_key";
		linux,code = <583>;
		linux,input-type = <1>;
		gpios = <&pio 9 1>;
		wakeup-source;
		debounce-interval = <30>;
	};
};

&mt6377keys {
	home {
		linux,keycodes = <114>;
	};
};

&pio {
	nfc_spi_cs_mode_spi: nfc_spi_cs_mode_spi {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO37__FUNC_SPI5_CSB>;
			bias-disable;
		};
	};

	nfc_spi_cs_mode_idle: nfc_spi_cs_mode_idle {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO37__FUNC_GPIO37>;
			bias-disable;
		};
	};
};

&spi5 {
	st54spi: st54spi@0 {
		compatible = "st,st54spi";
		reg = <0>;
		spi-max-frequency = <1000000>;
		gpio-power_nreset = <40>;
		gpio-power_nreset-std = <&pio 40 0x00>;
		power_mode = "ST54J";
		bootmode = <&chosen>;
		pinctrl-names = "pinctrl_state_mode_spi",
				"pinctrl_state_mode_idle";
		pinctrl-0 = <&nfc_spi_cs_mode_spi>;
		pinctrl-1 = <&nfc_spi_cs_mode_idle>;
		status = "okay";
	};
};

&i2c3 {
	status = "okay";
	clock-frequency = <400000>;
	st21nfc: st21nfc@0x08 {
		compatible = "st,st21nfc";
		reg = <0x08>;
		interrupt-parent = <&pio>;
		interrupts = <41 IRQ_TYPE_LEVEL_HIGH>;
		bootmode = <&chosen>;
		reset-gpios = <&pio 42 0x00>;
		irq-gpios = <&pio 41 0x00>;
		clkreq-gpios = <&pio 2 0x00>;
		status = "okay";
	};
};

&u2port0 {
	mediatek,eye-vrt = <7>;
	mediatek,eye-term = <6>;
	mediatek,eye-vrt-host = <6>;
};

&swtp {
	interrupt-parent = <&pio>;
	interrupts = <6 IRQ_TYPE_LEVEL_HIGH 6 0>;
	deb-gpios = <&pio 6 0>;
	debounce = <512>;
	status = "okay";
};

&swtp_1 {
	interrupt-parent = <&pio>;
	interrupts = <11 IRQ_TYPE_LEVEL_HIGH 11 0>;
	deb-gpios = <&pio 11 0>;
	debounce = <512>;
	status = "okay";
};
&swtp_2 {
	interrupt-parent = <&pio>;
	interrupts = <19 IRQ_TYPE_LEVEL_HIGH 19 0>;
	deb-gpios = <&pio 19 0>;
	debounce = <512>;
	status = "okay";
};

/delete-node/ &mt6377_vtp;

&therm_intf {
 	/*Vsensor name should be CASE DIFFERENT with the name in config file*/
 	mmi,temperature-names = "BACK_TEMP", "FRONT_TEMP", "SAFETY_TEMP";/*for "back_temp" in config file*/
};

&i2c7 {
	clock-frequency = <400000>;
	status = "okay";
	haptic_nv@5A{
		compatible = "awinic,haptic_nv";
		reg = < 0x5A >;
		aw862xx_i2c_addr = < 0x58 >;
		/* aw8624x_no_reset; */
		reset-gpio = <&pio 190 0>;
		irq-gpio = <&pio 56 0>;
		aw8623x_gain_bypass = < 1 >;
		aw8623x_vib_lk_f0_cali = < 0 >;
		aw8623x_vib_mode = < 2 >; /* mode: RAM -> 2; CONT -> 3 */
		aw8623x_vib_f0_pre = < 2050 >;
		aw8623x_vib_f0_cali_percen = < 7 >;
		aw8623x_vib_cont_drv1_lvl = < 0x7F >;
		aw8623x_vib_lra_vrms = < 1800 >; /* Motor rated voltage, mV */
		aw8623x_vib_cont_brk_time = < 0x06 >;
		aw8623x_vib_cont_brk_gain = < 0x08 >;
		aw8623x_vib_cont_drv1_time = < 0x04 >;
		aw8623x_vib_cont_drv2_time = < 0x14 >;
		aw8623x_vib_cont_track_margin = < 0x0F >;
		aw8623x_vib_d2s_gain = < 0x05 >;
		aw8623x_vib_trig_config = < 0 0 0 1 0 2 0
					    0 0 0 1 0 2 0
					    0 0 0 1 0 2 0 >;
		aw8623x_vib_duration_time = < 34 67 100 >;
		aw8623x_vib_is_enabled_track_en;
		/* aw8623x_vib_is_enabled_auto_brk; */
		status = "okay";
	};
};

&regulator_vibrator {
	status = "disabled";
};
