/*
 * Things can done here:
 * 	Add nodes or properties to root node
 * 	Delete nodes or properties
*/

/ {
	utags: utags { };
	hw: hw { };
	moto_chg_tcmd: moto_chg_tcmd { };
	swtp: swtp {
		compatible = "mediatek, swtp-eint";
	};
	swtp_1: swtp_1 {
		compatible = "mediatek, swtp1-eint";
	};
	swtp_2: swtp_2 {
		compatible = "mediatek, swtp2-eint";
	};
	tboard_thermistor5: thermal-ntc5 { };
	tboard_thermistor6: thermal-ntc6 { };
	tboard_thermistor7: thermal-ntc7 { };
	tboard_thermistor8: thermal-ntc8 { };
	tboard_thermistor9: thermal-ntc9 { };
	moto_wlc: moto_wlc {};
	flashlights_vegas: flashlights_vegas { };
};

&extcon_usb {
	/delete-property/ vbus-supply;
};
