&pio {
	sar_int_pin {
		sar_int_default: sar_int_default {
		/* active state */
		pinmux = <PINMUX_GPIO11__FUNC_GPIO11>;
		slew-rate = <2>;
		bias-pull-up;
		};
	};
};

&i2c9 {
	    sx937x@2c {
		compatible = "Semtech,sx937x";
		status = "okay";
		reg = <0x2c>;
		cap_vdd-supply = <&mt_pmic_vrf18_ldo_reg>;
		interrupt-parent = <&pio>;
		interrupts = <11 IRQ_TYPE_LEVEL_HIGH 11 0>;
		Semtech,nirq-gpio = <&pio 11 0x0>;
		pinctrl-names = "sar_int_default";
		pinctrl-0 = <&sar_int_default>;
		/*use PH3/4 as the reference sensor
		set it to 0xff if the ref-phases-x is not used*/
		Semtech,ref-phases-a = <4>;
		Semtech,ref-phases-b = <5>;
		Semtech,ref-phases-c = <6>;
		Semtech,button-flag = <0x0f>;
		Semtech,reg-num = <24>;
		Semtech,reg-init = <
			0x8024 0x7F00 		/*PHEN, Disable all Phases*/
			0x4004 0x74 		/*irq mask*/

			0x8028 0x85C 		/*AFE_PARAM_PH0*/
			0x8034 0x85C 		/*AFE_PARAM_PH1*/
			0x8040 0x85C 		/*AFE_PARAM_PH2*/
			0x804C 0x85C    	/*AFE_PARAM_PH3*/
			0x8058 0x85C 		/*AFE_PARAM_PH4*/
			0x8064 0x85C 		/*AFE_PARAM_PH5*/
			0x8070 0x85C 		/*AFE_PARAM_PH6*/
		/*	0x807C 0x85C */	/*AFE_PARAM_PH7*/

			/*set CS3 to hiz, because it used as IRQ pin*/
			0x8030 0xFFD9FF 	/*REG_AFEPH_PH0, CS4, ANT1, Bottom*/
			0x803C 0xBFF9FF 	/*REG_AFEPH_PH1, CS7, ANT2, Top Right*/
			0x8048 0xFFF9FD 	/*REG_AFEPH_PH2, CS0, ANT3, Top Left*/
			0x8054 0xFEF9FF	/*REG_AFEPH_PH3, CS5, ANT4, Top Right side*/
			0x8060 0xF7F9FF 	/*REG_AFEPH_PH4, CS6, ANT1_REF, Bottom*/
			0x806C 0xFFF97F 	/*REG_AFEPH_PH5, CS2, ANT2_REF, Top Right*/
			0x8078 0xFFF9EF 	/*REG_AFEPH_PH6, CS1, ANT3_REF, Top Left*/
		/*	0x8084 0xBFF9FF */	/*REG_AFEPH_PH7, NOT USE*/

			/*prox1 5000	0x64*/
			/*prox2 10000	0x8D*/
			/*prox3 15000	0xAD*/
			/*prox4 20000	0xC8*/
			0x8098 0xC8AD8D64		/*prox threshold ph0*/
			0x80B8 0xC8AD8D64		/*prox threshold ph1*/
			0x80D8 0xC8AD8D64		/*prox threshold ph2*/
			0x80F8 0xC8AD8D64		/*prox threshold ph3*/
			0x8118 0xC8AD8D64		/*prox threshold ph4*/
			0x8138 0xC8AD8D64		/*prox threshold ph5*/
			0x8158 0xC8AD8D64		/*prox threshold ph6*/
		/*	0x8178 0xC8AD8D64*/	/*prox threshold ph7*/

			0x8024 0x7F7F 	/*PHEN, Enable PH0~PH6*/>;
	};
};
