/*
 * Things can done here:
 * 	Add nodes or properties to root node
 * 	Delete nodes or properties
*/

/ {
	moto_chg_tcmd: moto_chg_tcmd {
	};

	disp_leds {
		backlight {
#ifdef CONFIG_BACKLIGHT_PWM_11BIT
			max-brightness = <2047>;
			led-bits = <11>;
#else
			max-brightness = <4095>;
			led-bits = <12>;
#endif
		};
	};

        tboard_thermistor6: thermal-sensor6 {
        };
};
