// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024, Motorola Mobility Inc. All rights reserved.
*/

&spi0{
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	mediatek,pad-select = <0>, <1>, <2>;

	focaltech@0 {
		compatible = "focaltech,fts";
                reg = <0>; //Same as CS ID
                status = "ok";
		mmi,status = "/chosen","mmi,panel_name","contains","boe_nt37713_vid_1080_2352";
                spi-max-frequency = <9600000>;
		vdd-supply= <&mt6377_vtp>;
		vcc_i2c-supply = <&mt6377_vaud18>;
                focaltech,reset-gpio = <&pio 150 0x0>;
                focaltech,irq-gpio = <&pio 4 0x0>;
                focaltech,max-touch-number = <10>;
                focaltech,display-coords = <0 0 1272 2772>;
                mmi,enable-gestures;
                mmi,power-off-suspend;
                focaltech,report_gesture_key = <59>;
                mmi,supported_gesture_type = <0x06>;
                focaltech,panel-supplier = "boe";
                focaltech,touch-charger-detect-psy-name = "battery";
                focaltech,touch-charger-detect-psp = "POWER_SUPPLY_PROP_STATUS";
                mmi,charger-psy-name = "battery";
                mmi,usb-charger-detection;
	};

	omnivision@1 {
		compatible = "omnivision,tcm-spi";
		reg = <1>; //Same as CS ID
		status = "ok";
		spi-max-frequency = <9600000>;
		interrupt-parent = <&pio>;
		interrupts = <4 0x2008>;

		omnivision,irq-gpio = <&pio 4 0x00>;
		omnivision,irq-on-state = <0>;
		omnivision,reset-gpio = <&pio 147 0x00>;
		omnivision,reset-on-state = <0>;
		omnivision,reset-active-ms = <20>;
		omnivision,reset-delay-ms = <200>;
		omnivision,power-delay-ms = <200>;
		omnivision,spi-mode = <3>;
		omnivision,byte-delay-us = <0>;
		omnivision,block-delay-us = <0>;
		omnivision,ubl-max-freq = <3000000>;
		omnivision,ubl-byte-delay-us = <20>;

		omnivision,supported_gesture_type = <0x06>;
        };
};

&mt6377_vtp {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};
&odm {
	mmi_stow: mmi_stow {
		compatible = "moto,mmi_stow";
		mmi,stow-gpio = <&pio 21 0x0>;
	};
};
/* TOUCH end */
