/*
 * Copyright (c) 2019 MediaTek Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
#include <dt-bindings/iio/adc/mediatek,mt6375_auxadc.h>
#include <dt-bindings/iio/adc/mediatek,mt6375_adc.h>
#include <dt-bindings/iio/mt635x-auxadc.h>

&moto_chg_tcmd {
                compatible = "mmi,moto-chg-tcmd";
                status = "okay";

                mmi,ntc_table = <1>;
                mmi,ntc_v_ref = <1800000>;
                mmi,ntc_r_pull = <100000>;

                mmi,batid_v_ref = <1800000>;
                mmi,batid_r_pull = <100000>;
                mmi,batt-ids-map = "1", "ATLRL52NVT", "2", "LWNRL52SWD";

                mmi,adc-channel-cpu = <0>;
                mmi,adc-channel-charger = <2>;
                mmi,adc-channel-pa = <1>;
                mmi,adc-channel-batid = <3>;
                mmi,adc-channel-vbat = <100>;
};

&lk_charger {
        temp_t4_threshold = <59>;
        /* charging current */
        usb_charger_current = <500000>;
        ac_charger_current = <1500000>;
        ac_charger_input_current = <2000000>;
        non_std_ac_charger_current = <1000000>;
        charging_host_charger_current = <1500000>;
        boot_battery_voltage = <3560000>;
};


&mt6375_typec {
        mmi,en-moto-typec-otp;
        pd-data {
                pd,sink-cap-ext = /bits/ 8 <0xcf 0x29 0x75 0x63
                                                0x00 0x00 0x00 0x00
                                                0x00 0x00 0x01 0x00
                                                0x00 0x00 0x00 0x00
                                                0x01 0x0b 0x01 0x0a
                                                0x1b 0x00 0x00 0x00>;
                /*5V, 3A  9V, 3A*/
                pd,sink-pdo-size = <2>;
                pd,sink-pdo-data = <0x0001912c 0x0002d12c> ;
                pd,id-vdo-data = <0xd14029cf 0x0 0x63750000
                                0x61000000 0x0 0x41000000>;
		/* 5V, 900ma */
                pd,source-pdo-data = <0x0001905a>;
        };

        dpm-caps {
                attempt-discover-id;
                attempt-discover-svids;
                attempt-enter-dp-mode;
        };
};

&charger {
         mmi,typecotp-charger;
         /* mos gpio */
         mmi,mos_gpio = <&pio 188 0>;
         charger = <&mt6375_chg>;
         charger_configuration= <3>;
         /* common */
         battery_cv = <4500000>;
         max_charger_voltage = <15000000>;
         min_charger_voltage = <4700000>;
         max_dmivr_charger_current = <4000000>;
         min_charger_voltage_1 = <4500000>;
         min_charger_voltage_2 = <4500000>;
         //enable_pe_plus;
         //enable_sw_jeita;

         /*pe5 && pdc*/
         fast_charging_indicator = <0x14>;

         /* charging current */
         usb_charger_current_suspend = <0>;
         usb_charger_current_unconfigured = <70000>;
         usb_charger_current_configured = <500000>;
         usb_charger_current = <500000>;
         ac_charger_current = <2050000>;
         ac_charger_input_current = <3000000>;
         non_std_ac_charger_current = <1000000>;
         charging_host_charger_current = <1500000>;
         apple_1_0a_charger_current = <650000>;
         apple_2_1a_charger_current = <800000>;
         ta_ac_charger_current = <3600000>;
         typec_limit_aicr = <3000000>;

         /* PE */
         ta_ac_9v_input_current = <2000000>;
         ta_ac_7v_input_current = <2000000>;

         //mmi config
         mmi,iterm-ma = <255>;
         mmi,mmi-temp-zones =
                        <0 4200 1020  0>,
                        <10 4250 2550 1530>,
                        <15 4500 2550 2550>,
                        <45 4530 3500 3500>,
                        <60 4200 2550 0>;

         mmi,mmi-ffc-zones = <0 4200 255>,
			<10 4500 255>,
			<15 4500 255>,
			<25 4530 738>,
			<35 4530 907>,
			<45 4530 1500>,
			<60 4200 255>;

         mmi,enable-charging-limit;
         mmi,upper-limit-capacity = <65>;
         mmi,lower-limit-capacity = <60>;
         mmi,vfloat-comp-uv = <0>;
         mmi,min-cp-therm-current-ua = <1400000>;
         mmi,power-max-design-mw = <18000>;
};

&pdc {
         min-charger-voltage = <4600000>;
         pd-vbus-low-bound = <5000000>;
         pd_vbus_upper_bound = <9000000>;
         vsys-watt = <5000000>;
         ibus-err = <14>;

         pd-stop-battery-soc = <80>;

         /* single charger */
         sc-input-current = <3000000>;
         sc-charger-current = <4000000>;
         pd-9v-input-current-discrete-arch-mmi = <2000000>;
};

&pe5 {
	start_soc_max = <90>;
	vbat_cv = <4530>;
	start_vbat_max = <4500>;

	/* Sbuya disable temperature current limit */
	tdvchg_curlmt = <0 0 0 0 0 0 0 0 0>;
	tbat_curlmt = <0 0 0 0 0 0 0 0 0>;
	tta_curlmt = <0 0 0 0 0 0 0 0 0>;
};

&pe45 {
	status = "disabled";
};

&pe2 {
	status = "disabled";
};

&pe {
	status = "disabled";
};

&charger_cooler {
       mmi,thermal-mitigation = <(-1) 5800000 5000000 4500000 3000000
                               2000000 1500000 1000000 500000>;
};


&extcon_usb {
	vbus-current = <1800000>;
};

&mtk_gauge {
	io-channels = <&pmic_adc AUXADC_BAT_TEMP>,
			<&pmic_adc AUXADC_BATADC>,
			<&pmic_adc AUXADC_VBIF>,
			<&pmic_adc AUXADC_IMP>,
			<&pmic_adc AUXADC_IMIX_R>,
			<&auxadc 1>;  /* batteryid io-channels is mt6835 auxadc1 */
	io-channel-names = "pmic_battery_temp",
			"pmic_battery_voltage",
			"pmic_bif_voltage",
			"pmic_ptim_voltage",
			"pmic_ptim_r",
			"batteryID-channel";

	/* bat_id vmin_vmax_id */
	battery_v_id = <100 500 0
	1300 1700 1>;

	DIFFERENCE_FULLOCV_ITH = <80>;  /*gauge cut-off current, should overtop ieoc 50ma*/
	EMBEDDED_SEL = <(1)>;  /*embedded battery,don't remove the battery for user*/
	VIR_OLDOCV_DIFF_EMB = <3000>; /*0.1mv*/
	VIR_OLDOCV_DIFF_EMB_LT = <3000>; /*0.1mv*/
        CURR_MEASURE_20A = <(0)>;
        UNIT_MULTIPLE = <(1)>;

	/* battery prop */
	g_temperature = <(50) (25) (10) (0) (-10) (-25) (-30) (-35) (-40) (-45)>;
	g_FG_PSEUDO100 = <98 98 100 100
		98 98 100 100
		98 98 100 100
		98 98 100 100
		98 98 100 100
		100 100 100 100
		100 100 100 100
		100 100 100 100
		100 100 100 100
		100 100 100 100>;

	g_Q_MAX = <5207 5206 4996 4996
		5204 5310 4996 4996
		5222 5258 4996 4996
		5044 5158 4996 4996
		4900 5019 4996 4996
		4990 4996 4996 4996
		4990 4996 4996 4996
		4990 4996 4996 4996
		4990 4996 4996 4996
		4990 4996 4996 4996>;

	g_Q_MAX_H_CURRENT = <5193 5189 4990 4990
		5188 5290 4990 4990
		5140 5188 4990 4990
		4937 4935 4990 4990
		4635 4491 4990 4990
		4970 4990 4990 4990
		4970 4990 4990 4990
		4970 4990 4990 4990
		4970 4990 4990 4990
		4970 4990 4990 4990>;

	/*vboot voltage for gauge 0%*/
	g_PMIC_MIN_VOL_row = <4>;
	g_PMIC_MIN_VOL_col = <10>;
	g_PMIC_MIN_VOL = <32000  33500  33500  33500
		32000  33500  33000  33000
		33000  33000  33000  33000
		32200  32200  32200  32200
		31360  31360  31360  31360
		31000  31000  31000  31000
		31000  31000  31000  31000
		31000  31000  31000  31000
		31000  31000  31000  31000
		31000  31000  31000  31200>;

	/*Pseudo1 hide percentage*/
	g_QMAX_SYS_VOL_row = <4>;
	g_QMAX_SYS_VOL_col = <10>;
	g_QMAX_SYS_VOL = <32500  34000  34950  34950
		32500  34000  34950  34950
		34250  34250  34250  34250
		34250  34250  34250  34250
		34250  34250  34250  34250
		34250  34250  34250  34250
		32800  32800  32800  32800
		32800  32800  32800  32800
		32800  32800  32800  32800
		32800  32800  32800  32800>;

	SHUTDOWN_1_TIME = <(30)>;
	ACTIVE_TABLE = <(5)>;
	R_FG_VALUE = <(5)>;
	NO_BAT_TEMP_COMPENSATE = <(1)>;
	CAR_TUNE_VALUE = <(101)>;

	df-serialnum = "ATLRL52NVT";
	#include "bat_setting/mt6835_battery_rl52_atl_5200mah.dtsi"
	#include "bat_setting/mt6835_battery_rl52_swd_5200mah.dtsi"
};


&pio {
     chargerpump_int_default_master: chargerpump_int_default_master {
		pinmux = <PINMUX_GPIO5__FUNC_GPIO5>;
		slew-rate= <0>;
		input-enable;
		bias-pull-up;
     };
};

&i2c0 {
	clock-frequency = <400000>;
	sgm41606s_standalone:bq25960-standalone@65 {
		status = "okay";
		compatible = "ti,bq25960-standalone";
		reg = <0x65>;

		sc8541-addr = <0x65>;

		interrupt-parent = <&pio>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING 5 0>;
		interrupt-names = "bq25960_irq_standalone";

		pinctrl-names = "default";
		pinctrl-0 = <&chargerpump_int_default_master>;

		/* Sbuya disable otg mux */
		mmi,disable_mux;
	};
	nu2115: nu2115-standalone@6D {
		compatible = "cp,nu2115";
		status = "okay";
		charger_name = "primary_dvchg";
		reg = <0x6D>;
		nu2115,intr-gpios = <&pio 5 0x0>;
		ac_ovp = <13000000>;
		vbus_ovp = <12000000>;
		bat_ucp_alm = <9200000>;
		ibat_sns_res = <2>;
		watchdog_dis;
	};
};

