/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&dispsys_config {
	force_dyn_mipi_change;
};

&i2c6 {
	id = <6>;

	i2c_lcd_bias_mtk:i2c_lcd_bias@3e {
		compatible = "sm,bias_sm5109";
		reg = <0x3e>;
		sm,lcd-bias-enn-gpio = <&pio 134 0>;
		sm,lcd-bias-enp-gpio = <&pio 182 0>;
		biasp_en_pin = <182>;
		biasn_en_pin = <134>;
		status = "okay";
	};

	aw99703_backlight: sprd_backlight@36{
		compatible = "awinic,aw99703-bl", "sm-sm5350","ktd,ktd3136";
		reg = <0x36>;
		id = <6>;
		lk_hwen-gpio = <8>;
		status = "okay";

		//sm5350
		pwm-cfg = <0x0F>;
		hwen-gpio = <&pio 8 1>;
		boost-ctl = <0x02>;
		ctl-bank-en = <0x02>;
		full-scale-current = <0x1C>; //27.4 mA
		map-mode = <0>; //0x16 : 0 exponential, 1 linear
		current-align-type = <0x01>;
		sm5350,default-brightness = <743>;
		sm5350,init-seq-enable = <1>;
		sm5350,init-seq = <0x1A 0x02>,
				<0x1C 0x0F>,
				<0x10 0x07>,
				<0x16 0x00>,
				<0x18 0x1C>,
				<0x23 0xd4>,
				<0x24 0x02>;

		aw99703,hwen-gpio = <&pio 8 1>;
		aw99703,bl-map = <3>; /* brightness map level 1:256,2:1024,3:2048 */
		aw99703,using-lsb;
		aw99703,ovp-level = <3>; /* 0:17.5V, 1:24V, 2:31V, 3:38V, 4:41.5V */
		aw99703,ocp-level = <2>; /* 0:0.9A, 1:1.8A, 2:2.7A, 3:3.4A */
		aw99703,switch-freq = <1>; /* 1000kHz(default) */
		aw99703,auto-freq-high = <0x10>;
		aw99703,auto-freq-low = <0x05>;
		aw99703,bl-fscal-led = <0x1C>; /* 27.2mA */
		aw99703,bl-channel = <3>;
		aw99703,turn-on-ramp = <0x00>; /* 512us */
		aw99703,turn-off-ramp = <0x04>; /* 8ms */
		aw99703,pwm-trans-dim = <0>; /* 2ms */
		aw99703,i2c-trans-dim = <1>; /* 128ms */
		aw99703,skip-first-trans;
		aw99703,reset-trans-delay;
		aw99703,pwm-mode = <1>; /* 1 pwm enable,0 PWM disable */
		aw99703,map-type = <0>; /* 0 exponential, 4 linear */
		aw99703,current-align-type = <0x01>;
		aw99703,work-mode = <1>; /* backlight */
		aw99703,default-brightness = <519>;
		aw99703,init-seq-enable = <1>;
		aw99703,init-seq = <0x02 0x00>,
				<0x03 0xE7>,
				<0x04 0x2E>,
				<0x09 0x00>,
				<0x05 0x50>,
				<0x06 0x02>,
				<0x07 0xC5>,
				<0x67 0x1C>,
				<0x25 0x61>,
				<0x24 0x4C>,
				<0x23 0x61>,
				<0x02 0x01>;

                ktd,hwen-gpio = <&pio 8 1>;
                ktd,using-lsb;
                ktd,pwm-frequency = <1>; /* 1MHZ */
                ktd,bl-fscal-led = <0xE1>; /* 27.4mA */
                ktd,turn-on-ramp = <0x00>;
                ktd,turn-off-ramp = <0x04>;
                ktd,pwm-trans-dim = <0>;
                ktd,i2c-trans-dim = <128>;
                ktd,skip-first-trans;
                ktd,reset-trans-delay;
                ktd,bl-channel = <3>;
                ktd,ovp-level = <32>;  /*25.9v or 32v */
                ktd,ocp-level = <2600>;
                ktd,switching-frequency = <1>;
                ktd,inductor-current = <1>;
                ktd,default-brightness = <519>;
                ktd,map-type = <0>; /* 0 exponential, 1 linear */
                ktd,current-align-type = <0x01>;
                ktd3136,init-seq-enable = <1>;
                ktd3136,init-seq = <0x02 0xE1>,
				<0x03 0x28>,
				<0x06 0x1F>,
				<0x04 0x02>,
				<0x05 0xC5>,
				<0x07 0x03>,
				<0x08 0x01>;

	};
};

&mtk_leds {

	compatible = "mediatek,i2c-leds";

	backlight {
		label = "lcd-backlight";
		led_mode = <6>;
		max-brightness = <2047>;
		max-hw-brightness = <2047>;
		default-brightness = <1578>;
	};
};

&pio {
	mtkfb_pins_lcd_bias_enp0: lcd_bias_enp0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO182__FUNC_GPIO182>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enn0: lcd_bias_enn0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO134__FUNC_GPIO134>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out1_gpio: lcm_rst_out1_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO95__FUNC_GPIO95>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm_rst_out0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO95__FUNC_GPIO95>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_dsi_te: lcm_dsi_te {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO94__FUNC_DSI_TE>;
		};
	};
};

&mtkfb {
	pinctrl-names = "lcd_bias_enp0_gpio", "lcd_bias_enn0_gpio",
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcd_bias_enp0>;
	pinctrl-1 = <&mtkfb_pins_lcd_bias_enn0>;
	pinctrl-2 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-3 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-4 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	//switch_fps = <120>;
	panel1@0 {
		compatible = "mot,dummy,vdo,60hz";
		reg = <0>;
		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};

	};

	panel2@0 {
		compatible = "csot_ft8725,vid,120hz";
		reg = <1>;
		reset-gpios = <&pio 95 0>;
		bias_n-gpios = <&pio 134 0>;
		bias_p-gpios = <&pio 182 0>;
		pinctrl-names = "default";
		port {
			panel_in2: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};

	};

	panel3@0 {
                compatible = "tm,nt36672c,vdo,120hz";
                reg = <2>;
                reset-gpios = <&pio 95 0>;
                bias_n-gpios = <&pio 134 0>;
                bias_p-gpios = <&pio 182 0>;
                pinctrl-names = "default";
                port {
                        panel_in3: endpoint {
                                remote-endpoint = <&dsi_out>;
                        };
                };

        };

	panel4@0 {
                compatible = "txd,ili7807s,vdo,120hz";
                reg = <3>;
                reset-gpios = <&pio 95 0>;
                bias_n-gpios = <&pio 134 0>;
                bias_p-gpios = <&pio 182 0>;
                pinctrl-names = "default";
                port {
                        panel_in4: endpoint {
                                remote-endpoint = <&dsi_out>;
                        };
                };

        };

	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};
