config MTK_NFC_SUPPORT
	tristate "MediaTek NFC driver"
	default n
	help
	  Y means NFC_MT6605 define if use Mediatek NFC Function to provide reader
	  Card emulation or P2P function. If you are not sure about this, set n.
	  Y means NFC_MT6605 define if use Mediatek NFC Function to provide reader
	  Card emulation or P2P function. If you are not sure about this, set n.

config NFC_CHIP_SUPPORT
	tristate "NFC driver solution - STMicroelectronics ST21NFC NFC Controller Driver"
	default n
	depends on I2C
	help
	  STMicroelectronics ST21NFC Near Field Communication controller support.
	  ST21NFCD can support 2UICC mode, and ST54F can support 1UICC + eSE.
	  If configures to be y, means devices supports NFC functionality.
	  If configures to be n, means devices doesn't support NFC functionality.