#add wind_device_info --sunsiyuan@wind-mobi.com 20161129 begin
config WIND_DEVICE_INFO
	bool "CONFIG_WIND_DEVICE_INFO"
	default n
	help
		Select y or n
#add wind_device_info --sunsiyuan@wind-mobi.com 20161129 end
