#
# Makefile for Bosch sensors driver.
#

config MTK_BMA455
	tristate "BMA4XY acceleration sensor support"
	depends on I2C
	help
	  If you say yes here, you get support for Bosch Sensortec's
	  acceleration sensors BMA4XY.



