config MTK_FMRADIO
	bool CONFIG_MTK_FMRADIO
	default n
	help
		This config is used to choose
		if need to compile fmradio folder.
		Will compile fmradio folder if set to 'y',
		otherwise will not compile fmradio folder.

config MTK_FM
	bool "MediaTek FM Chip Support"
	default n
	help
		This config is used to choose
		if use MTK FM chip or not.
		Will used MTK FM chip if set to 'y',
		otherwise will not use MTK FM chip.

config MTK_FM_SUPPORT
	bool "MTK_FM_SUPPORT"
	default n
	help
	  This config is used to choose
	  switch off Android FM or not.
	  All features(RX&TX) of FM will be enabled if set to 'y',
	  otherwise will be disabled.

config MTK_FM_CHIP
	string "MTK_FM_CHIP"
	depends on MTK_FM_SUPPORT
	default "MT6620_FM" if MTK_COMBO_CHIP_MT6620
	default "MT6630_FM" if MTK_COMBO_CHIP_MT6630
	help
		This config is used to choose
		which FM radio chip to use:
		e.g. MT6620_FM, MT6628_FM, MT6627_FM,
		MT6580_FM, MT6630_FM...

config MTK_FM_50KHZ_SUPPORT
	bool "MTK_FM_50KHZ_SUPPORT"
	depends on MTK_FM_SUPPORT
	help
		This config is used to choose
		if need to support FM 50KHz step or not
		for tune/seek/scan functions.
		Will support 50KHz step if set to 'y',
		otherwise will not support 50KHz step.

config MTK_MERGE_INTERFACE_SUPPORT
	bool "MTK_MERGE_INTERFACE_SUPPORT"
	help
		This config used to control Audio
		path is merge interface or not.
		Audio/FM will use merge interface if yes,
		otherwise merge interface is not used.
