/*
 * Things can done here:
 * 	Add nodes or properties to root node
 * 	Delete nodes or properties
*/

/ {
	moto_chg_tcmd: moto_chg_tcmd {
	};

	key_google: key_google {
	};

        lk_charger: lk_charger {
             /delete-property/ enable_pe_plus;
             /delete-property/ enable_pd20_reset;
        };

        charger: charger {
             /delete-property/ enable_dynamic_mivr;
        };
};
