/dts-v1/;

#include "mt6797.dtsi"

/ {
	memory@00000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x1e605000>;
	};

	/* chosen */
	chosen {
		bootargs = "console=tty0 console=ttyMT0,921600n1 root=/dev/ram initrd=0x44000000,0x4B434E loglevel=8";
		/* fpga may has no lk, we need to specify display info here */
		/* fb buffer is reserved using this dts by memory node above */
		atag,videolfb-fb_base_h = <0x0>;
		atag,videolfb-fb_base_l = <0x5e605000>;
		atag,videolfb-islcmfound = <1>;
		/* because no lk, so lcm is not inited */
		atag,videolfb-islcm_inited = <0>;
		atag,videolfb-fps= <6000>;
		atag,videolfb-vramSize= <0x017bb000>;
		atag,videolfb-lcmname= "nt35595_fhd_dsi_cmd_truly_nt50358_drv";
	};


	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0 0 0xffffffff>;

		i2c0@11007000 {
			bq24261@6b {
				compatible = "bq24261";
				reg = <0x6b>;
			};

			mt6306@64 {
				compatible = "mediatek,mt6306";
				reg = <0x64>;
			};
		};
		mmc0_pins_default: mmc0@default {
			pins_cmd {
				drive-strength = /bits/ 8 <2>;
			};
			pins_dat {
				drive-strength = /bits/ 8 <2>;
			};
			pins_clk {
				drive-strength = /bits/ 8 <2>;
			};
			pins_rst {
				drive-strength = /bits/ 8 <2>;
			};
			pins_ds {
				drive-strength = /bits/ 8 <2>;
			};
		};

		mmc0_register_setting_default: mmc0@register_default {
			dat0rddly      = /bits/ 8 <0>;
			dat1rddly      = /bits/ 8 <0>;
			dat2rddly      = /bits/ 8 <0>;
			dat3rddly      = /bits/ 8 <0>;
			dat4rddly      = /bits/ 8 <0>;
			dat5rddly      = /bits/ 8 <0>;
			dat6rddly      = /bits/ 8 <0>;
			dat7rddly      = /bits/ 8 <0>;
			datwrddly      = /bits/ 8 <0>;
			cmdrrddly      = /bits/ 8 <0>;
			cmdrddly       = /bits/ 8 <0>;
			cmd_edge = /bits/ 8 <MSDC_SMPL_FALLING>;
			rdata_edge = /bits/ 8 <MSDC_SMPL_FALLING>;
			wdata_edge = /bits/ 8 <MSDC_SMPL_FALLING>;

			ett-hs200-cells = <12>;
			ett-hs200-default = <OFFSET_MSDC_PATCH_BIT0	MSDC_PB0_INT_DAT_LATCH_CK_SEL 0x0
				OFFSET_MSDC_PATCH_BIT0	MSDC_PB0_CKGEN_MSDC_DLY_SEL   0x0
				OFFSET_MSDC_PATCH_BIT1	MSDC_PB1_CMD_RSP_TA_CNTR      0x1
				OFFSET_MSDC_IOCON		MSDC_IOCON_RSPL               0x0
				OFFSET_MSDC_PAD_TUNE0	MSDC_PAD_TUNE0_CMDRDLY        0x7
				OFFSET_MSDC_PAD_TUNE0	MSDC_PAD_TUNE0_CMDRRDLY       0xb
				OFFSET_MSDC_PATCH_BIT1		MSDC_PB1_WRDAT_CRCS_TA_CNTR   0x1
				OFFSET_MSDC_PAD_TUNE0	MSDC_PAD_TUNE0_DATWRDLY       0xb
				OFFSET_MSDC_IOCON			MSDC_IOCON_W_D0SPL            0x0
				OFFSET_MSDC_DAT_RDDLY0		MSDC_DAT_RDDLY0_D0            0x7
				OFFSET_MSDC_PAD_TUNE0	MSDC_PAD_TUNE0_DATRRDLY       0x9
				OFFSET_MSDC_IOCON		MSDC_IOCON_R_D_SMPL           0x0>;

			ett-hs400-cells = <8>;
			ett-hs400-default = <OFFSET_MSDC_PATCH_BIT0	MSDC_PB0_INT_DAT_LATCH_CK_SEL	0x0
				OFFSET_MSDC_PATCH_BIT0		MSDC_PB0_CKGEN_MSDC_DLY_SEL		0x0
				OFFSET_EMMC50_PAD_DS_TUNE	MSDC_EMMC50_PAD_DS_TUNE_DLY1	0x2
				OFFSET_EMMC50_PAD_DS_TUNE	MSDC_EMMC50_PAD_DS_TUNE_DLY3	0x10
				OFFSET_MSDC_PATCH_BIT1			MSDC_PB1_CMD_RSP_TA_CNTR	0x1
				OFFSET_MSDC_IOCON		MSDC_IOCON_RSPL				0x0
				OFFSET_MSDC_PAD_TUNE0			MSDC_PAD_TUNE0_CMDRDLY		0x6
				OFFSET_MSDC_PAD_TUNE0		MSDC_PAD_TUNE0_CMDRRDLY		0x6>;
		};

		mmc1_pins_default: mmc1@default {
			   pins_cmd {
				   drive-strength = /bits/ 8 <3>;
			   };
			   pins_dat {
				   drive-strength = /bits/ 8 <3>;
			   };
			   pins_clk {
				   drive-strength = /bits/ 8 <3>;
			   };
		};

		mmc1_pins_sdr104: mmc1@sdr104 {
			  pins_cmd {
				  drive-strength = /bits/ 8 <2>;
			  };
			  pins_dat {
				  drive-strength = /bits/ 8 <2>;
			  };
			  pins_clk {
				  drive-strength = /bits/ 8 <3>;
			  };
		};

		mmc1_pins_sdr50: mmc1@sdr50 {
			 pins_cmd {
				 drive-strength = /bits/ 8 <2>;
			 };
			 pins_dat {
				 drive-strength = /bits/ 8 <2>;
			 };
			 pins_clk {
				 drive-strength = /bits/ 8 <3>;
			 };
		};

		mmc1_pins_ddr50: mmc1@ddr50 {
			 pins_cmd {
				 drive-strength = /bits/ 8 <2>;
			 };
			 pins_dat {
				 drive-strength = /bits/ 8 <2>;
			 };
			 pins_clk {
				 drive-strength = /bits/ 8 <3>;
			 };
		 };

		mmc1_register_setting_default: mmc1@register_default {
				       dat0rddly      = /bits/ 8 <0>;
				       dat1rddly      = /bits/ 8 <0>;
				       dat2rddly      = /bits/ 8 <0>;
				       dat3rddly      = /bits/ 8 <0>;
				       datwrddly      = /bits/ 8 <0>;
				       cmdrrddly      = /bits/ 8 <0>;
				       cmdrddly       = /bits/ 8 <0>;
				       cmd_edge = /bits/ 8 <MSDC_SMPL_FALLING>;
				       rdata_edge = /bits/ 8 <MSDC_SMPL_FALLING>;
				       wdata_edge = /bits/ 8 <MSDC_SMPL_FALLING>;
		};

	};

	led0:led@0 {
		compatible = "mediatek,red";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led1:led@1 {
		compatible = "mediatek,green";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led2:led@2 {
		compatible = "mediatek,blue";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led3:led@3 {
		compatible = "mediatek,jogball-backlight";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led4:led@4 {
		compatible = "mediatek,keyboard-backlight";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led5:led@5 {
		compatible = "mediatek,button-backlight";
		led_mode = <0>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	led6:led@6 {
		compatible = "mediatek,lcd-backlight";
		led_mode = <5>;
		data = <1>;
		pwm_config = <0 0 0 0 0>;
	};
	vibrator0:vibrator@0 {
		compatible = "mediatek,vibrator";
		vib_timer = <25>;
		vib_limit = <9>;
		vib_vol= <5>;
	};

};

&apuart0 {
	/*
	pinctrl-names = "uart0_gpio_default",
			"uart0_rx_set",
			"uart0_rx_clear",
			"uart0_tx_set",
			"uart0_tx_clear";

	pinctrl-0 = <&uart0_gpio_def_cfg>;
	pinctrl-1 = <&uart0_rx_set_cfg>;
	pinctrl-2 = <&uart0_rx_clr_cfg>;
	pinctrl-3 = <&uart0_tx_set_cfg>;
	pinctrl-4 = <&uart0_tx_clr_cfg>;
	status = "okay";
	*/
};

&apuart1 {
	/*
	pinctrl-names = "uart1_gpio_default",
			"uart1_rx_set",
			"uart1_rx_clear",
			"uart1_tx_set",
			"uart1_tx_clear";

	pinctrl-0 = <&uart1_gpio_def_cfg>;
	pinctrl-1 = <&uart1_rx_set_cfg>;
	pinctrl-2 = <&uart1_rx_clr_cfg>;
	pinctrl-3 = <&uart1_tx_set_cfg>;
	pinctrl-4 = <&uart1_tx_clr_cfg>;
	status = "okay";
	*/
};

&pio {
	/* UART GPIO Settings - Start */
	/* UART0: rx set, rx clear, tx clear, tx clear*/
	/*
	uart0_gpio_def_cfg:uart0gpiodefault {
	};
	uart0_rx_set_cfg:uart0_rx_set@gpio97 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO97__FUNC_URXD0>;
		};
	};
	uart0_rx_clr_cfg:uart0_rx_clear@gpio97  {
		pins_cmd_dat {
			pins = <PINMUX_GPIO97__FUNC_GPIO97>;
			slew-rate = <1>;
			output-high;
		};
	};
	uart0_tx_set_cfg:uart0_tx_set@gpio98  {
		pins_cmd_dat {
			pins = <PINMUX_GPIO98__FUNC_UTXD0>;
		};
	};
	uart0_tx_clr_cfg:uart0_tx_clear@gpio98  {
		pins_cmd_dat {
			pins = <PINMUX_GPIO98__FUNC_GPIO98>;
			slew-rate = <1>;
			output-high;
		};
	};
	*/
	/* UART1: rx set, rx clear, tx clear, tx clear*/
	/*
	uart1_gpio_def_cfg:uart1gpiodefault {
	};
	uart1_rx_set_cfg:uart1_rx_set@gpio232 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO232__FUNC_URXD1>;
		};
	};
	uart1_rx_clr_cfg:uart1_rx_clear@gpio232 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO232__FUNC_GPIO232>;
			slew-rate = <1>;
			output-high;
		};
	};
	uart1_tx_set_cfg:uart1_tx_set@gpio233 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO233__FUNC_UTXD1>;
		};
	};
	uart1_tx_clr_cfg:uart1_tx_clear@gpio233 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO233__FUNC_GPIO233>;
			slew-rate = <1>;
			output-high;
		};
	};
	*/
	/* UART GPIO Settings - End */
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	fpc1145@0 {
		compatible = "fpc,fpc1020";
		reg = <0>;
		spi-max-frequency = <16000000>;
		/* fpc,gpio_irq = <0>; */
		fpc,gpio_reset = <1>;
		/* fpc,gpio_cs = <85>; */
		/* fpc,vddtx_mv = <3300>;  */
		/* fpc,txout_boost_enable; */
		/* fpc,force_hwid = <0x1234> */
		/* vcc_spi-supply = <&pm8941_s3>; */
		/* vdd_ana-supply = <&pm8941_lvs1>; */
		/* vdd_io-supply = <&pm8941_lvs1>; */
	};
};

&touch {
	tpd-resolution = <1440 2560>;
	use-tpd-button = <0>;
	tpd-key-num = <3>;
	tpd-key-local= <139 172 158 0>;
	tpd-key-dim-local = <90 883 100 40 230 883 100 40 370 883 100 40 0 0 0 0>;
	tpd-max-touch-num = <5>;
	tpd-filter-enable = <0>;
	tpd-filter-pixel-density = <124>;
	tpd-filter-custom-prameters = <0 0 0 0 0 0 0 0 0 0 0 0>;
	tpd-filter-custom-speed = <0 0 0>;
	pinctrl-names = "default", "state_eint_as_int", "state_eint_output0", "state_eint_output1",
		"state_rst_output0", "state_rst_output1";
	pinctrl-0 = <&CTP_pins_default>;
	pinctrl-1 = <&CTP_pins_eint_as_int>;
	pinctrl-2 = <&CTP_pins_eint_output0>;
	pinctrl-3 = <&CTP_pins_eint_output1>;
	pinctrl-4 = <&CTP_pins_rst_output0>;
	pinctrl-5 = <&CTP_pins_rst_output1>;
	status = "okay";
};
&pio {
	CTP_pins_default: eint0default {
	};
	CTP_pins_eint_as_int: eint@0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <0>;
			bias-disable;
		};
	};
	CTP_pins_eint_output0: eintoutput0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <1>;
			output-low;
		};
	};
	CTP_pins_eint_output1: eintoutput1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <1>;
			output-high;
		};
	};
	CTP_pins_rst_output0: rstoutput0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO68__FUNC_GPIO68>;
			slew-rate = <1>;
			output-low;
		};
	};
	CTP_pins_rst_output1: rstoutput1 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO68__FUNC_GPIO68>;
			slew-rate = <1>;
			output-high;
		};
	};
};
/* TOUCH end */
&accdet {
		accdet-mic-vol = <7>;
		headset-mode-setting = <0x500 0x500 1 0x1F0 0x800 0x800 0x20>;
		accdet-plugout-debounce = <1>;
		/*1:ACC mode, 2:low cost without in bias, 6:low cost with in bias*/
		accdet-mic-mode = <6>;
		/*0--MD_MAX--UP_MAX--DW_MAX*/
		headset-three-key-threshold = <0 80 220 400>;
		/*0--MD_MAX--VOICE_MAX--UP_MAX--DW_MAX*/
		headset-four-key-threshold = <0 58 121 192 400>;
		/* ACCDET GPIO standardization ACC mode use */
		pinctrl-names = "default", "state_eint_as_int";
		pinctrl-0 = <&ACCDET_pins_default>;
		pinctrl-1 = <&ACCDET_pins_eint_as_int>;
		status = "okay";
};
&pio {
	ACCDET_pins_default: eint0default {
	};
	ACCDET_pins_eint_as_int: eint@0 {
		pins_cmd_dat {
			pins = <PINMUX_GPIO92__FUNC_GPIO92>;
			slew-rate = <0>;
			bias-disable;
		};
	};
};
/*ACCDET end*/
/* mmc start */
&mmc0 {
		clk_src = /bits/ 8 <MSDC0_CLKSRC_400MHZ>;
		bus-width = <8>;
		max-frequency = <200000000>;
		cap-mmc-highspeed;
		msdc-sys-suspend;
		/* mmc-ddr-1_8v; */
		/* mmc-hs200-1_8v; */
		/* mmc-hs400-1_8v; */
		non-removable;
		pinctl = <&mmc0_pins_default>;
		register_setting = <&mmc0_register_setting_default>;
		host_function = /bits/ 8 <MSDC_EMMC>;
		bootable;
		status = "okay";
};

&mmc1 {
		clk_src = /bits/ 8 <MSDC1_CLKSRC_200MHZ>;
		bus-width = <4>;
		max-frequency = <200000000>;
		msdc-sys-suspend;
		cap-sd-highspeed;
		sd-uhs-sdr12;
		sd-uhs-sdr25;
		sd-uhs-sdr50;
		sd-uhs-sdr104;
		sd-uhs-ddr50;
		pinctl = <&mmc1_pins_default>;
		pinctl_sdr104 = <&mmc1_pins_sdr104>;
		pinctl_sdr50 = <&mmc1_pins_sdr50>;
		pinctl_ddr50 = <&mmc1_pins_ddr50>;
		register_setting = <&mmc1_register_setting_default>;
		host_function = /bits/ 8 <MSDC_SD>;
		cd_level = /bits/ 8 <MSDC_CD_LOW>;
		status = "disabled";
};
/* AUDIO GPIO standardization */
&audgpio {
	pinctrl-names = "audpmicclk-mode0",
			"audpmicclk-mode1",
			"aud_smartpa-mode0",
			"aud_smartpa-mode1",
			"aud_smartpa-mode3",
			"aud_tdm_mode0",
			"aud_tdm_mode1";
	pinctrl-0 = <&aud_pins_pmicclk_mode0>;
	pinctrl-1 = <&aud_pins_pmicclk_mode1>;
	pinctrl-2 = <&aud_pins_smartpa_mode0>;
	pinctrl-3 = <&aud_pins_smartpa_mode1>;
	pinctrl-4 = <&aud_pins_smartpa_mode3>;
	pinctrl-5 = <&aud_pins_tdm_mode0>;
	pinctrl-6 = <&aud_pins_tdm_mode1>;
	status = "okay";
};

&pio {
	aud_pins_pmicclk_mode0: pmicclkmode0 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO146__FUNC_GPIO146>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO147__FUNC_GPIO147>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO148__FUNC_GPIO148>;
		};
		pins_cmd3_dat {
			pins = <PINMUX_GPIO149__FUNC_GPIO149>;
		};
		pins_cmd4_dat {
			pins = <PINMUX_GPIO150__FUNC_GPIO150>;
		};
	};

	aud_pins_pmicclk_mode1: pmicclkmode1 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO146__FUNC_AUD_CLK_MOSI>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO147__FUNC_AUD_DAT_MISO>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO148__FUNC_AUD_DAT_MOSI>;
		};
		pins_cmd3_dat {
			pins = <PINMUX_GPIO149__FUNC_VOW_CLK_MISO>;
		};
		pins_cmd4_dat {
			pins = <PINMUX_GPIO150__FUNC_ANC_DAT_MOSI>;
		};
	};

	aud_pins_smartpa_mode0: aud_pins_smartpa_mode0 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO69__FUNC_GPIO69>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO70__FUNC_GPIO70>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO72__FUNC_GPIO72>;
		};
		pins_cmd3_dat {
			pins = <PINMUX_GPIO73__FUNC_GPIO73>;
		};
	};

	aud_pins_smartpa_mode1: aud_pins_smartpa_mode1 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO69__FUNC_I2S0_LRCK>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO70__FUNC_I2S0_BCK>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO72__FUNC_I2S0_DI>;
		};
		pins_cmd3_dat {
			pins = <PINMUX_GPIO73__FUNC_I2S3_DO>;
		};
	};

	aud_pins_smartpa_mode3: aud_pins_smartpa_mode3 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO69__FUNC_I2S1_LRCK>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO70__FUNC_I2S1_BCK>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO72__FUNC_I2S2_DI>;
		};
		pins_cmd3_dat {
			pins = <PINMUX_GPIO73__FUNC_I2S1_DO>;
		};
	};

	aud_pins_tdm_mode0: aud_pins_tdm_mode0 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO135__FUNC_GPIO135>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO136__FUNC_GPIO136>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO138__FUNC_GPIO138>;
		};
	};

	aud_pins_tdm_mode1: aud_pins_tdm_mode1 {
		pins_cmd0_dat {
			pins = <PINMUX_GPIO135__FUNC_TDM_LRCK>;
		};
		pins_cmd1_dat {
			pins = <PINMUX_GPIO136__FUNC_TDM_BCK>;
		};
		pins_cmd2_dat {
			pins = <PINMUX_GPIO138__FUNC_TDM_DATA0>;
		};
	};
};
/* AUDIO end */
