config PCIE_MTK_UNIT
	bool "pcie unit test"
	depends on PCIE_MTK
	help
	  This selects MediaTek(R) PCIE UNIT TEST driver.
	  UNIT TEST is used to test PCIE device.
	  If you want to use MediaTek(R) PCIE UNIT TEST driver, say
	  Y or M here. If unsure, say N.
