config MTK_DRAMC
	tristate "MediaTek DRAMC driver"
	default n
	---help---
	  This selects the MediaTek(R) DRAMC driver.
	  incude the following API
	  PASR
	  DVFS


config MTK_DRAMC_PASR
	bool "Mediatek DRAMC PASR control"
	default n
	help
	  Mediatek(R) PASR HW control.
	  This controls the setting of DRAM mode register
	  for PASR(Partial Array Self-Refresh).
	  Caller needs to prepare bit-mask setting of DRAM
	  segment to trigger PASR.